<!DOCTYPE html>
<html ng-app="inspinia">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Bootstrap -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Main Inspinia CSS files -->
    <link href="~/css/animate.css" rel="stylesheet">
    <link id="loadBefore" href="~/css/style.css" rel="stylesheet">


</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}}" landing-scrollspy id="page-top">

    <!-- Main view  -->
    <div ui-view></div>

    <!-- jQuery and Bootstrap -->
    
    <script src="~/scripts/jquery/jquery-3.1.1.min.js"></script>
    <script src="~/scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/scripts/bootstrap/bootstrap.min.js"></script>

    <!-- MetsiMenu -->
    <script src="~/scripts/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- SlimScroll -->
    <script src="~/scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peace JS -->
    <script src="~/scripts/plugins/pace/pace.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/scripts/Inspinia/inspinia.js"></script>

    <!-- Main Angular scripts-->
    <script src="~/scripts/angular/angular.min.js"></script>
    <script src="~/scripts/angular/angular-sanitize.js"></script>
    <script src="~/scripts/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="~/scripts/angular-translate/angular-translate.min.js"></script>
    <script src="~/scripts/ui-router/angular-ui-router.min.js"></script>
    <script src="~/scripts/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>
    <script src="~/scripts/plugins/angular-idle/angular-idle.js"></script>

    <!-- Anglar App Script -->
    <script src="~/scripts/Inspinia/app.js"></script>
    <script src="~/scripts/Inspinia/config.js"></script>
    <script src="~/scripts/Inspinia/translations.js"></script>
    <script src="~/scripts/Inspinia/directives.js"></script>
    <script src="~/scripts/Inspinia/controllers.js"></script>

</body>
</html>
