<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Inclusao Agendamento</h4>
        <small class="font-bold">Tela exclusivamente para inclusão de agendamento</small>
    </div>
    <form role="form" name="CadAtendenteForm">
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Fechar</button>
            <button type="submit" class="btn btn-primary" ng-click="incluir()">Salvar</button>
        </div>
    </form>
</div>