<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <script src="~/scripts/angular.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-route.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-animate.min.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-sanitize.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.min.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/Directive/ngMask.js" type="text/javascript" language="javascript"></script>

    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/Custom/Alerta/ListaAlertas.css" />

    <script type="text/javascript">

        var app = angular.module('app', ['ngAnimate', 'ngSanitize', 'ui.bootstrap', 'ngMask']);

        app.controller('VendedorCtrl', function ($scope, $uibModal, $interval, VendedorService) {

            $scope.totalItems = 500;
            $scope.currentPage = 1;
            $scope.maxSize = 10;

            VendedorService.GetAll().then(function (response) {
                $scope.vendedores = response.data;
            });

            $scope.AddVendedor = function (vendedor) {
                $scope.vendedores.push(vendedor);
            }

            $scope.orderByMe = function (colunm) {
                $scope.reverse = ($scope.orderBycolumn === colunm) ? !$scope.reverse : false;
                $scope.orderBycolumn = colunm;
            }

            $scope.open = function (nome) {
                $uibModal.open({
                    templateUrl: 'myModal.html',
                    controller: 'ModalInstanceCtrl',
                    scope: $scope,
                    resolve: {
                        fornecedores: function () {
                            VendedorService.GetAllByName(nome).then(function (response) {
                                $scope.fornecedores = response.data
                            })
                            return $scope.fornecedores;
                        }
                    }
                });
            }

            $scope.inativar = function (index) {
                $scope.vendedores[index].inativo = !$scope.vendedores[index].inativo;
                if ($scope.vendedores[index].textAtivo == "Inativo") {
                    $scope.vendedores[index].textAtivo = "Ativo";
                }
                else {
                    $scope.vendedores[index].textAtivo = "Inativo";
                }
            }

        });

        app.controller("ModalInstanceCtrl", function ($scope, $uibModal, $uibModalInstance, $interval) {
            $scope.cancel = function () {
                $uibModalInstance.dismiss('cancel');
            };
        });

        app.service('PessoaJuridicaService', function ($http) {
            var serviceBase = 'http://localhost:50837/';
            var serviceBaseProducao = 'http://192.168.1.199:9810/Intranet.API/';

            this.GetByRazaoSocial = function (razao) {
                return $http.get(serviceBase + "api/PessoaJuridica/GetByRazaoSocial?razaoSocial=" + razao).then(function (response) {
                    return response
                }, function (response) {
                    return alert("Erro: " + response.status);
                });
            }

            this.GetByCNPJ = function (CNPJEmpresa, CNPJFilial, CNPJDV) {
                return $http.get(serviceBase + "api/PessoaJuridica/GetByCNPJ?CNPJEmpresa=" + CNPJEmpresa + "&CNPJFilial=" + CNPJFilial + "&CNPJDV=" + CNPJDV).then(function (response) {
                    return response
                }, function (response) {
                    return alert("Erro: " + response.status);
                });
            }

            this.GetCdPessoaJuridica = function (CNPJEmpresa, CNPJFilial, CNPJDV) {
                return $http.get(serviceBase + "api/PessoaJuridica/GetCdPessoaJuridica?CNPJEmpresa=" + CNPJEmpresa + "&CNPJFilial=" + CNPJFilial + "&CNPJDV=" + CNPJDV).then(function (response) {
                    return response
                }, function (response) {
                    return alert("Erro: " + response.status);
                });
            }
        });

        app.service('VendedorService', function ($http) {
            var serviceBase = 'http://localhost:50837/';
            var serviceBaseProducao = 'http://192.168.1.199:9810/Intranet.API/';

            this.GetAll = function () {
                return $http.get(serviceBase + "api/Vendedor/GetAll").then(function (response) {
                    return response
                }, function (response) {
                    return alert("Erro: " + response.status);
                });
            }

            this.GetAllByName = function (nome) {
                return $http.get(serviceBase + "api/Vendedor/GetAllByName?nome=" + nome).then(function (response) {
                    return response
                }, function (response) {
                    return alert("Erro: " + response.status);
                });
            }

            this.AddVendedor = function (data) {
                return $http.post(serviceBase + "api/Vendedor/AddVendedor", data).then(function (response) {
                    return response
                }, function (response) {
                    return alert("Erro: " + response.status);
                });
            }
        });
    </script>

    <style type="text/css">
    </style>

</head>
<body ng-controller="VendedorCtrl">
    <div class="container" style="margin-top: 20px;">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" style="height: 28px; font-size: 10px; line-height: 14px;" placeholder="Empresa" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" style="margin-left:20px; height: 28px; font-size: 10px; line-height: 14px;" placeholder="Vendedor" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" style="margin-left:20px; height: 28px; font-size: 10px; line-height: 14px;" placeholder="Email" />
            </div>
            <div class="form-group">
                <label style="font-size:12px; margin-left:20px;">Comprador:</label>
                <select class="form-control" style="height: 28px; font-size: 11px; line-height: 14px;">
                    <option>teste</option>
                    <option>teste2</option>
                </select>
            </div>
            <div class="form-group">
                <label style="font-size:12px; margin-left:20px;">Status:</label>
                <select class="form-control" style="height: 28px; font-size: 11px; line-height: 14px;">
                    <option>teste</option>
                    <option>teste2</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default btn-xs" style="margin-left:20px;">Procurar</button>

        </form>

        <a href="Add" class="btn btn-primary btn-xs pull-right" style="margin-top:30px; margin-bottom:10px;"><b>+</b> Incluir Vendedor</a>
        <div class="main_container">
            <div class="clearfix"></div>
            <table class="table table-bordered" ng-show="vendedores.length > 0">
                <thead>
                    <tr style="margin-top: 10px;">
                        <th ng-click="orderByMe('Nome')">Vendedor &nbsp<i ng-show="orderBycolumn === 'Nome'" ng-class="{'glyphicon glyphicon-sort-by-alphabet': !reverse, 'glyphicon glyphicon-sort-by-alphabet-alt': reverse}"></i></th>
                        <th ng-click="orderByMe('email')">Email &nbsp<i ng-show="orderBycolumn === 'email'" ng-class="{'glyphicon glyphicon-sort-by-alphabet': !reverse, 'glyphicon glyphicon-sort-by-alphabet-alt': reverse}"></i></th>
                        <th ng-click="orderByMe('Teledone')">Telefone &nbsp<i ng-show="orderBycolumn === 'Teledone'" ng-class="{'glyphicon glyphicon-sort-by-order': !reverse, 'glyphicon glyphicon-sort-by-order-alt': reverse}"></i></th>
                        @*<th></th>*@
                        @*<th ng-click="orderByMe('RazaoSocial')">Empresa &nbsp<i ng-show="orderBycolumn === 'RazaoSocial'" ng-class="{'glyphicon glyphicon-sort-by-alphabet': !reverse, 'glyphicon glyphicon-sort-by-alphabet-alt': reverse}"></i></th>*@
                        @*<th ng-click="orderByMe('CNPJ')">CNPJ &nbsp<i ng-show="orderBycolumn === 'CNPJ'" ng-class="{'glyphicon glyphicon-sort-by-order': !reverse, 'glyphicon glyphicon-sort-by-order-alt': reverse}"></i></th>*@
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="vendedor in vendedores | orderBy:orderBycolumn:reverse">
                        <td ng-class="vendedor.Status == 1 ? 'danger': ''">{{vendedor.Nome}}</td>
                        <td ng-class="vendedor.Status == 1 ? 'danger': ''">{{vendedor.Email}}</td>
                        @*<td ng-class="vendedor.status == 1 ? 'danger': ''">{{vendedor.PessoaJuridica.RazaoSocial}}</td>*@
                        @*<td ng-class="vendedor.inativo == 1 ? 'danger': ''">{{vendedor.CNPJ}}</td>*@
                        <td ng-class="vendedor.status == 1 ? 'danger': ''">({{vendedor.DDD}}) {{vendedor.Teledone}}</td>
                        @*<td class="text-center" ng-class="vendedor.Status == 1 ? 'danger': ''">
                            <a class='btn btn-primary btn-xs' href="#" ng-click="open();">
                                <span class="glyphicon glyphicon-home"></span>  Empresas
                            </a>
                        </td>*@
                        <td class="text-center" ng-class="vendedor.Status == 1 ? 'danger': ''">
                            <a class='btn btn-primary btn-xs' href="#" ng-click="open(vendedor.Nome);">
                                <span class="glyphicon glyphicon-shopping-cart"></span>  Compradores
                            </a>
                        </td>
                        <td class="text-center" ng-class="vendedor.Status == 1 ? 'danger': ''">
                            <a href="#" class="btn btn-primary btn-xs" ng-click="status($index)">
                                <span class="glyphicon glyphicon-briefcase"></span>  Fornecedor
                                @*<span class="glyphicon glyphicon-remove"></span> {{vendedor.textAtivo}}*@
                            </a>
                        </td>
                        <td class="text-center">
                            <a class='btn btn-info btn-xs' href="#" ng-click="open();">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </a>
                            @*<a href="#" class="btn btn-danger btn-xs" ng-click="status($index)">
                                <span class="glyphicon glyphicon-remove"></span>
                                @*<span class="glyphicon glyphicon-remove"></span> {{vendedor.textAtivo}}
                            </a>*@

                            <a href="#" class="btn btn-danger btn-xs" ng-click="inativar($index)" ng-show="vendedor.Status == 1">
                                <span class="glyphicon glyphicon-remove"></span> Inativo
                            </a>
                            <a href="#" class="btn btn-danger btn-xs" ng-click="inativar($index)" ng-show="vendedor.Status == 0">
                                <span class="glyphicon glyphicon-remove"></span> Ativo
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <ul uib-pagination total-items="vendedores.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" boundary-link-numbers="true" rotate="false"></ul>
        </div>

        <div>
            <div class="chat_list" ng-show="vendedores.length == 0">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div style="text-align:center;">
                            Nenhum vendedor encontrado!
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <script type="text/ng-template" id="myModal.html">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        Modal title
                    </h4>
                </div>

                <div class="modal-body">
                    <table ng-repeat="fornecedor in fornecedores" class="table" style="margin-bottom: 1px">
                        <tbody>
                            <tr>
                                <td><span class="glyphicon glyphicon-user"></span> {{fornecedor.Usuario.NmUsuario}}</td>
                                <td class="text-center"><span class="glyphicon glyphicon-envelope"></span> {{fornecedor.Usuario.Email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </script>
    </div>
</body>
</html>
