<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Alteracao de Motivo por Filial</h4>
        <small class="font-bold">Tela exclusivamente para alteracao e inclusão de motivo.</small>
    </div>
    <form role="form" name="cadMotivoForm">
        <div class="modal-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Filial</th>
                        <th>Centro de Custo</th>
                        <th>Limite</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="motivoFilial in motivosFilial">
                        <td>{{motivoFilial.Usuario.Sobrenome}}</td>
                        <td>{{motivoFilial.CadMotivoDesp.Motivo}}</td>
                        <!--<td>{{motivoFilial.Limite | currency}}</td>-->
                        <td>
                            <span ng-hide="motivoFilial.editMode">{{motivoFilial.Limite | currency}}</span>
                            <input type="text" name="Limite" ng-show="motivoFilial.editMode" ng-focus="true" class="form-control" ng-model="motivoFilial.Limite" placeholder="Limite" required="" />
                        </td>
                        <td>
                            <button type="button" ng-hide="motivoFilial.editMode" ng-click="edit(motivoFilial)" class="btn btn-xs btn-outline btn-primary btn-rounded">Editar</button>
                            <button type="button" ng-show="motivoFilial.editMode" ng-click="saveUser(motivoFilial, $index)" class="btn btn-xs btn-outline btn-success btn-rounded">Atualizar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <div class="modal-footer">
                <button type="button" class="btn btn-white" ng-click="cancel()">Fechar</button>
                <button type="submit" class="btn btn-primary" ng-click="salvar()">Salvar</button>
            </div>
        </div>
    </form>
</div>
