<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Lista Produtos</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="principal.instutucional">Home</a>
            </li>
            <li>
                <a>Lista</a>
            </li>
            <li class="active">
                <strong>Produtos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="altProd">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-sm-3">
                <input type="text" name="Ean" id="Ean" ng-model="Ean" class="form-control" placeholder="Codigo Interno" />
            </div>
            <div class="form-group col-lg-2">
                <input type="button" class="btn btn-primary btn-rounded" value="Buscar" ng-click="Buscar();" />
            </div>
            <div class="ibox float-e-margins">
                <button class="btn btn-sm btn-outline btn-success btn-rounded" ng-show="produto.Codigo != undefined" type="button" ng-click="solicitar()"><i class="fa fa-plus"></i> Solicitar alteracao</button>
                <div class="ibox-title">
                    <h5>Informacoes - <strong>Produto</strong></h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Produto</th>
                                    <th>EAN</th>
                                    <th>Quantidade</th>
                                    <th>Abast</th>
                                    <th>Morto</th>
                                    <th>Sazonal</th>
                                    <th>UsoConsumo</th>
                                    <th>Fracionado</th>
                                    <th>DtCadastro</th>
                                    <th>DtAlteracao</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{produto.Codigo}}</td>
                                    <td>{{produto.Produto}}</td>
                                    <td>{{produto.CdEAN}}</td>
                                    <td>{{produto.QtVenda}}</td>
                                    <td>{{produto.NmCompraTipo}}</td>
                                    <td><i ng-class="produto.Morto == true ? 'fa fa-check text-navy' : (produto.Morto == false ? 'fa fa-times text-danger' : '')"></i></td>
                                    <td><i ng-class="produto.Sazonal == true ? 'fa fa-check text-navy' : (produto.Sazonal == false ? 'fa fa-times text-danger' : '')"></i></td>
                                    <td><i ng-class="produto.UsoConsumo == true ? 'fa fa-check text-navy' : (produto.UsoConsumo == false ? 'fa fa-times text-danger' : '')"></i></td>
                                    <td><i ng-class="produto.Fracionado == true ? 'fa fa-check text-navy' : (produto.Fracionado == false ? 'fa fa-times text-danger' : '')"></i></td>
                                    <td>{{produto.DtCadastro | date:'dd/MM/yyyy'}}</td>
                                    <td>{{produto.DtAlteracao | date:'dd/MM/yyyy'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Embalagens - <strong>Produto</strong></h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Embalagem</th>
                                    <th>QtEmbalagem</th>
                                    <th>Pesog</th>
                                    <th>Alturacm</th>
                                    <th>Larguracm</th>
                                    <th>Comprimentocm</th>
                                    <th>QtLastro</th>
                                    <th>QtCamadas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tiposembalagem in embalagens">
                                    <td>{{tiposembalagem.CdEmbalagem }}</td>
                                    <td>{{tiposembalagem.QtEmbalagem }}</td>
                                    <td>{{tiposembalagem.Pesog }}</td>
                                    <td>{{tiposembalagem.Alturacm}}</td>
                                    <td>{{tiposembalagem.Larguracm}}</td>
                                    <td>{{tiposembalagem.Comprimentocm}}</td>
                                    <td>{{tiposembalagem.QtLastro}}</td>
                                    <td>{{tiposembalagem.QtCamadas}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>