<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Associacao de Produtos</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="principal.instutucional">Home</a>
            </li>
            <li>
                <a>Produto</a>
            </li>
            <li class="active">
                <strong>Associacao de Produtos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="associacaoProdutoCtrl">
    <div class="ibox float-e-margins">
        <button class="btn btn-sm btn-outline btn-success btn-rounded" type="button" ng-click="incluir()"><i class="fa fa-plus"></i> Incluir</button>
        <div class="ibox-title">
            <h5>Lista de produtos - <strong>Solicitacoes de Associacao</strong></h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <!--<div class="table-responsive">
                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                </table>
            </div>-->
        </div>
    </div>
</div>
