<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Lista Produtos</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="principal.instutucional">Home</a>
            </li>
            <li>
                <a>Lista</a>
            </li>
            <li class="active">
                <strong>Produtos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" ng-controller="solListaProdMobileCtrl">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Lista de produtos - <strong>Solicitacoes de Produto</strong></h5>
                    <div ibox-tools></div>
                </div>
                <table class="table-responsive table table-striped table-bordered table-hover">
                    <thead>
                        <tr class="info">
                            <th>Id</th>
                            <th>Produto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="solicitacaoProd in solicitacoesProd">
                            <td>{{solicitacaoProd.IdCadSolProd}}</td>
                            <td><a href="" ng-click="visualizar(solicitacaoProd)">{{solicitacaoProd.Descricao}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>