<fieldset>
    <h2>Inf. Logistica do Produto</h2>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Embalagem *</label>
                <select chosen class="chosen-select" tabindex="3" id="embalagem" ng-model="formData.embalagem" name="embalagem">
                    <option value="Unidade">Unidade</option>
                    <option value="Caixa">Caixa</option>
                    <option value="Quilograma">Quilograma</option>
                    <option value="Duzia">Duzia</option>
                    <option value="Saco">Saco</option>
                    <option value="Bandeja">Bandeja</option>
                    <option value="Display">Display</option>
                    <option value="Fardo">Fardo</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Quantidade Embalagem *</label>
                <input id="qtdEmbalagem" ng-model="formData.qtdEmbalagem" name="qtdEmbalagem" type="text" class="form-control">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>Peso(grama)</label>
                <input id="peso" ng-model="formData.peso" name="peso" type="text" class="form-control">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>Altura(cm)</label>
                <input id="altura" ng-model="formData.altura" name="altura" type="text" class="form-control">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>Largura(cm)</label>
                <input id="largura" ng-model="formData.largura" name="largura" type="text" class="form-control">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>Comprimento(cm)</label>
                <input id="comprimento" ng-model="formData.comprimento" name="comprimento" type="text" class="form-control">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>Lastro</label>
                <input id="lastro" ng-model="formData.lastro" name="lastro" type="text" class="form-control">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>Camadas</label>
                <input id="camadas" ng-model="formData.camadas" name="camadas" type="text" class="form-control">
            </div>
        </div>
    </div>
</fieldset>
<fieldset class="m-t-md">
    <a ui-sref="produto.solproduto.grade_prod" class="btn btn-default">Voltar</a>
    <a ui-sref="produto.solproduto.mix_prod" class="btn btn-primary">Proximo</a>
</fieldset>
