<div ng-controller="bpdreCtrl">
    <div class="row">
        <div class="form-group col-lg-2 col-lg-offset-1">
            <div>
                <select class="form-control" id="ano" name="ano" ng-model="ano">
                    <option value="">Selecione o Ano</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-2">
            <div>
                <select class="form-control" id="mes" name="mes">
                    <option value="">Selecione o Mês</option>
                    <option value="1">Janeiro</option>
                    <option value="2">Fevereiro</option>
                    <option value="3">Março</option>
                    <option value="4">Abril</option>
                    <option value="5">Maio</option>
                    <option value="6">Junho</option>
                    <option value="7">Julho</option>
                    <option value="8">Agosto</option>
                    <option value="9">Setembro</option>
                    <option value="10">Outubro</option>
                    <option value="11">Novembro</option>
                    <option value="12">Dezembro</option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-3">
            <div>
                <select class="form-control" id="segmento" name="segmento">
                    <option value="">Selecione a Filial</option>
                </select>
            </div>
        </div>
        <div class="form-group col-lg-2">
            <input type="button" class="btn btn-primary btn-rounded" value="Definir" ng-click="Definir();" />
        </div>
    </div>

    <div class="row">
        <div class="tabs-container">

            <uib-tabset>
                <uib-tab heading="Ativos">
                    <!--<tree-grid tree-data="tree_data" col-defs="col_defs"></tree-grid>-->
                </uib-tab>
                <uib-tab heading="Ativos2">
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Contabil<th>
                                        <th>VlMesAtual</th>
                                        <th>VarMes</th>
                                        <th>VlMesPassado</th>
                                        <th>VarAno</th>
                                        <th>VlAnoPassado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in tree_data | filterTreeItem:itemId:isExpend">
                                        <td>
                                            <span style="padding-left: {{item.level * 30}}px;">
                                                <span class="glyphicon" ng-click="itemClick(item.id, item.expend);"
                                                      ng-class="{'glyphicon-minus': !item.leaf && item.expend, 'glyphicon-plus': !item.leaf && !item.expend, 'glyphicon-leaf': item.leaf}">
                                                </span>
                                                {{item.id}}
                                            </span>
                                        
                                        <td>{{ item.NomeContabil }}/td>
                                        <td>{{ item.Valor | currency }}</td>
                                        <td class="stat-percent font-bold text-info">{{ (item.Valor / item.ValorMesAnt) * 100 | number:0}}%</td>
                                        <td>{{ item.ValorMesAnt | currency }} </td>
                                        <td class="stat-percent font-bold text-info">{{ (item.Valor / item.ValorAnoAnt) * 100 | number:0}}%</td>
                                        <td>{{ item.ValorAnoAnt | currency }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>

        </div>
    </div>
</div>