<div ng-controller="bpdreCtrl">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Valor de Estoque</h5>
                    <!--<h2 ng-class="(totalQuebra / totalVenda) * 100 < 0 ? 'text-danger' : 'text-navy'"><b>{{(totalQuebra / totalVenda) * 100 | number:2 }}%</b></h2>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">CDME</h5>
                    <!--<h2 ng-class="(totalQuebra / totalVenda) * 100 < 0 ? 'text-danger' : 'text-navy'"><b>{{(totalQuebra / totalVenda) * 100 | number:2 }}%</b></h2>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Dias de Estoque</h5>
                    <!--<h2 ng-class="(totalQuebra / totalVenda) * 100 < 0 ? 'text-danger' : 'text-navy'"><b>{{(totalQuebra / totalVenda) * 100 | number:2 }}%</b></h2>-->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="ibox-content">
            <div class="row">
                <table class="table table-striped table-bordered table-hover    ">
                    <thead>
                        <tr>
                            <th>Filial</th>
                            <th>Qtd.Estoque</th>
                            <th>Vl.Estoque
                            <th>Estoque Prop. CD</th>
                            <th>Est. Teórico Total</th>
                            <th>CDME</th>
                            <th>Part. CDME</th>
                            <th>D.Est</th>
                            <th>D.Est CD</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dadoFilial in dadosFilial">
                            <td>{{dadoFilial.Filial}}</td>
                            <td>{{dadoFilial.QtdEstoque | number:2}}</td>
                            <td>{{dadoFilial.VlEstoque | currency}}</td>
                            <td>{{(dadosFilial[6].VlEstoque + dadosFilial[7].VlEstoque + dadosFilial[8].VlEstoque) * ((((dadoFilial.CMV / diasVenda) / (TotalCMV / diasVenda)))) | currency}}</td>
                            <td>{{(dadoFilial.VlEstoque) + (dadosFilial[6].VlEstoque + dadosFilial[7].VlEstoque + dadosFilial[8].VlEstoque) * ((((dadoFilial.CMV / diasVenda) / (TotalCMV / diasVenda)))) | currency}}</td>
                            <td>{{(dadoFilial.CMV / diasVenda) | number:2}}</td>
                            <td>{{((((dadoFilial.CMV / diasVenda) / (TotalCMV / diasVenda))) * 100) | number:2}}%</td>
                            <td>{{(dadoFilial.VlEstoque) / (dadoFilial.CMV / diasVenda) | number:2}}</td>
                            <td>
                                {{((dadoFilial.VlEstoque + (dadosFilial[6].VlEstoque + dadosFilial[7].VlEstoque + dadosFilial[8].VlEstoque) * ((((dadoFilial.CMV / diasVenda) / (TotalCMV / diasVenda)))))) / (dadoFilial.CMV / diasVenda) | number:2}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
