<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Usuarios</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="principal.instutucional">Home</a>
            </li>
            <li>
                <a>Cadastro</a>
            </li>
            <li class="active">
                <strong>Usuários / Operadores</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" ng-controller="cadUsuarioCtrl">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <button class="btn btn-sm btn-outline btn-success btn-rounded" type="button" ng-click="solicitar()"><i class="fa fa-plus"></i> Solicitar</button>
                <div class="ibox-title">
                    <h5>Cadastro/Solicitacao - <strong>Usuarios</strong></h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <!--<th></th>-->
                                <th>Id</th>
                                <th>Tipo</th>
                                <th>Pessoa</th>
                                <th>Setor</th>
                                <th>Filial</th>
                                <!--<th>Comercial</th>
                                <th>Financeiro</th>
                                <th>Loja2</th>
                                <th>Concentrador</th>
                                <th>Pdv</th>
                                <th>Wms</th>
                                <th>Pidgin</th>
                                <th>Email</th>-->
                                <th>Solicitante</th>
                                <th>Inclusao</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="usuario in usuarios">
                                <!--<td><i ng-class="{'fa fa-exclamation text-danger' : usuario.IdStatus == 1 ,
                                                 'fa fa-check text-info' : usuario.IdStatus == 6}"></i>
                                </td>-->
                                <td class="table-success">{{usuario.Id}}</td>
                                <td>{{usuario.TipoSolicitacao}}</td>
                                <td><a href="" ng-click="alteraracao(usuario)">{{usuario.Pessoa}}</a></td>
                                <td>{{usuario.Setor}}</td>
                                <td>{{usuario.Filial}}</td>
                                <!--<td><i ng-class="usuario.Comercial == true ? 'fa fa-check text-navy' : (usuario.Comercial == false ? 'fa fa-times text-danger' : 'fa fa-times text-danger')"></i></td>
                                <td><i ng-class="usuario.Financeiro == true ? 'fa fa-check text-navy' : (usuario.Financeiro == false ? 'fa fa-times text-danger' : 'fa fa-times text-danger')"></i></td>
                                <td><i ng-class="usuario.Loja2 == true ? 'fa fa-check text-navy' : (usuario.Loja2 == false ? 'fa fa-times text-danger' : 'fa fa-times text-danger')"></i></td>
                                <td><i ng-class="usuario.Concentrador == true ? 'fa fa-check text-navy' : (usuario.Concentrador == false ? 'fa fa-times text-danger' : 'fa fa-times text-danger')"></i></td>
                                <td><i ng-class="usuario.Pdv == true ? 'fa fa-check text-navy' : (usuario.Pdv == false ? 'fa fa-times text-danger' : 'fa fa-times text-danger')"></i></td>
                                <td><i ng-class="usuario.Wms == true ? 'fa fa-check text-navy' : (usuario.Wms == false ? 'fa fa-times text-danger' : 'fa fa-times text-danger')"></i></td>
                                <td><i ng-class="usuario.Pidgin == true ? 'fa fa-check text-navy' : (usuario.Pidgin == false ? 'fa fa-times text-danger' : 'fa fa-times text-danger')"></i></td>
                                <td><i ng-class="usuario.Email == true ? 'fa fa-check text-navy' : (usuario.Email == false ? 'fa fa-times text-danger' : 'fa fa-times text-danger')"></i></td>-->
                                <td>{{usuario.Usuario.Nome}} {{usuario.Usuario.Sobrenome}}</td>
                                <td>{{usuario.DataInclusao | date:'dd/MM/yyyy'}}</td>
                                <td>
                                    <button ng-class="{'btn btn-xs btn-rounded btn-success' : usuario.IdStatus == 1,
                                                       'btn btn-xs btn-rounded btn-info' : usuario.IdStatus == 8,
                                                       'btn btn-xs btn-rounded btn-danger' : usuario.IdStatus == 9,
                                                       'btn btn-xs btn-rounded btn-primary' : usuario.IdStatus == 6}" ng-click="historico(usuario);">
                                        <i class="fa fa-comments-o"></i>  {{usuario.SitCadProd.Situacao}}
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-outline btn-primary btn-rounded" ng-show="usuario.IdStatus == 1 && grupo == 'DP/RH'" type="button" ng-click="aprovar(usuario)"><i class="fa fa-edit"></i> Aprovar</button>
                                    <button class="btn btn-sm btn-outline btn-danger btn-rounded" ng-show="usuario.IdStatus == 1 && grupo == 'DP/RH'" type="button" ng-click="reprovar(usuario)"><i class="fa fa-ban"></i> Reprovar</button>
                                    <button class="btn btn-sm btn-outline btn-danger btn-rounded" ng-show="usuarioLogado == usuario.Usuario.Id && usuario.IdStatus == 1" type="button" ng-click="excluir(usuario)"><i class="fa fa-ban"></i> Excluir</button>
                                    <button class="btn btn-sm btn-outline btn-primary btn-rounded" type="button" ng-show="(grupo == 'Indicadores' || grupo == 'Admin') && usuario.IdStatus == 8" ng-click="concluir(usuario)"><i class="fa fa-edit"></i> Concluir</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
