<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Quarentena</h4>
    </div>
    <form role="form" name="cadQuarentena">
        <div class="modal-body">
            <div class="form-group">
                <label>Motivo</label>
                <textarea placeholder="Motivo" name="motivo" ng-model="motivo" class="form-control" style="height:150px;"></textarea>
            </div>
        </div>
    </form>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="incluir()">Salvar</button>
    </div>
</div>

