<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Estatistica do Produto</h4>
        <h4 class="font-bold">{{codigo}} - {{produto}}</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Filial</th>
                                    <th>Rotacao</th>
                                    <th>Rotacao Promo</th>
                                    <th>Estoque</th>
                                    <th>Qtd.Quebra</th>
                                    <th>Unitario</th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="detalhe in detalhes">
                                <tr>
                                    <td>{{detalhe.Filial}}</td>
                                    <td>{{detalhe.Rotacao | number:3}}</td>
                                    <td>{{detalhe.RotacaoPromocional | number:3}}</td>
                                    <td>{{detalhe.Estoque}}</td>
                                    <td>{{detalhe.QtdeQuebra | number:3}}</td>
                                    <td>{{detalhe.Unitario | number:3}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
