<div class="wrapper" id="wrapper" ng-controller="promocaoCtrl">

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div class="gray-bg">
        <div class="gray-bg">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="background-color:deepskyblue; color:white">
                            <h5>Venda</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{totalVenda | currency}}</h1>
                            <small>Total de Venda</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="background-color:deepskyblue; color:white">
                            <h5>CMV</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{totalCMV | currency}}</h1>
                            <small>Total de CMV</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="background-color:indianred; color:white">
                            <h5>Compra</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{totalCompras | currency}}</h1>
                            <small>Total de Compras</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="background-color:indianred; color:white">
                            <h5>Pedido</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{totalPedidos | currency}}</h1>
                            <small>Total de Pedidos</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="background-color:indianred; color:white">
                            <h5>Pedido + Compra</h5>
                        </div>
                        <div class="ibox-content">

                            <h1 class="no-margins">{{totalCompras + totalPedidos | currency}}</h1>
                            <small>Total de Pedidos + Compra</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title" style="background-color:indianred; color:white">
                            <h5>Saldo</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins" ng-class="totalCMV - (totalCompras + totalPedidos) > 0 ? 'text-navy': 'text-danger'">
                                <i class="fa fa-play" ng-class="totalCMV - (totalCompras + totalPedidos) > 0 ? 'fa-rotate-90': 'fa-rotate-270'"></i>
                                {{totalCMV - (totalCompras + totalPedidos) | currency}}
                            </h1>
                            <small>Total de Saldo</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div>
                <div class="tabs-container">
                    <uib-tabset>
                        <uib-tab heading="Filial">
                            <div class="panel-body">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title" style="background-color: darkgray;color: white;">
                                        <h5><strong>Filiais</strong></h5>
                                        <div ibox-tools></div>
                                    </div>
                                    <div class="ibox-content">
                                        <table datatable="ng" dt-options="dtOptions1" class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Filial</th>
                                                    <th>Venda</th>
                                                    <th>CMV</th>
                                                    <th>Compras</th>
                                                    <th>Pedidos</th>
                                                    <th>Ped + Com</th>
                                                    <th>Saldo</th>
                                                    <th>%</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="dadoFilial in dadosFilial">
                                                    <td>{{dadoFilial.Filial}}</td>
                                                    <td>{{dadoFilial.Venda | currency}}</td>
                                                    <td>{{dadoFilial.CMV | currency}}</td>
                                                    <td>{{dadoFilial.vlCompras | currency}}</td>
                                                    <td>{{dadoFilial.vlPedidos | currency}}</td>
                                                    <td>{{dadoFilial.vlCompras + dadoFilial.vlPedidos | currency}}</td>
                                                    <td ng-class="dadoFilial.CMV - (dadoFilial.vlCompras + dadoFilial.vlPedidos) >= 0 ? 'text-navy' : 'text-danger'">{{dadoFilial.CMV - (dadoFilial.vlCompras + dadoFilial.vlPedidos) | currency}}</td>
                                                    <td ng-class="(((dadoFilial.vlCompras + dadoFilial.vlPedidos) / dadoFilial.CMV) -1) * 100 <= 0 ? 'text-navy' : 'text-danger'">
                                                        <i ng-class="(((dadoFilial.vlCompras + dadoFilial.vlPedidos) / dadoFilial.CMV) -1) * 100 <= 0 ? 'fa fa-level-up': 'fa fa-level-doww'"></i> {{(((dadoFilial.vlCompras + dadoFilial.vlPedidos) / dadoFilial.CMV) -1) * 100 | number: 2}}%
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Comprador">
                            <div class="panel-body">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title" style="background-color: darkgray;color: white;">
                                        <h5><strong>Compradores</strong></h5>
                                        <div ibox-tools></div>
                                    </div>
                                    <div class="ibox-content">
                                        <table datatable="ng" dt-options="dtOptions2" class="table table-striped table-bordered table-hover dataTables-example">
                                            <thead>
                                                <tr>
                                                    <th>Comprador</th>
                                                    <th>Venda</th>
                                                    <th>CMV</th>
                                                    <th>Compras</th>
                                                    <th>Pedidos</th>
                                                    <th>Ped + Com</th>
                                                    <th>Saldo</th>
                                                    <th>%</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="dadoComprador in dadosComprador">
                                                    <td>{{dadoComprador.Comprador}}</td>
                                                    <td>{{dadoComprador.Venda | currency}}</td>
                                                    <td>{{dadoComprador.CMV | currency}}</td>
                                                    <td>{{dadoComprador.vlCompras | currency}}</td>
                                                    <td>{{dadoComprador.vlPedidos | currency}}</td>
                                                    <td>{{dadoComprador.vlCompras + dadoComprador.vlPedidos | currency}}</td>
                                                    <td ng-class="dadoComprador.CMV - (dadoComprador.vlCompras + dadoComprador.vlPedidos) >= 0 ? 'text-navy' : 'text-danger'">{{dadoComprador.CMV - (dadoComprador.vlCompras + dadoComprador.vlPedidos) | currency}}</td>
                                                    <td ng-class="(((dadoComprador.vlCompras + dadoComprador.vlPedidos) / dadoComprador.CMV) -1) * 100 <= 0 ? 'text-navy' : 'text-danger'">
                                                        <i ng-class="(((dadoComprador.vlCompras + dadoComprador.vlPedidos) / dadoComprador.CMV) -1) * 100 <= 0 ? 'fa fa-level-up': 'fa fa-level-doww'"></i> {{(((dadoComprador.vlCompras + dadoComprador.vlPedidos) / dadoComprador.CMV) -1) * 100 | number: 2}}%
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>

