<div class="passwordBox animated fadeInDown" ng-controller="registerCtrl">
    <div class="row">

        <div class="col-md-12">
            <div class="ibox-content">

                <h2 class="font-bold">Esqueceu a senha</h2>

                <p>
                    Entre com o seu email para receber um link para alterara-la.
                </p>

                <div class="row">

                    <div class="col-lg-12">
                        <form class="m-t" role="form" action="index.html">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="E-mail" ng-model="email">
                            </div>
                            <button ng-click="forgotPassword()" type="button" class="btn btn-primary block full-width m-b">Enviar E-mail</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            Copyright Alvorada 
        </div>
        <div class="col-md-6 text-right">
            <small>© 2015-2017</small>
        </div>
    </div>
</div>