<div class="modal-body">
    <div class="row">
        <div class="tabs-container">
            <uib-tabset>
                <uib-tab>
                    <uib-tab-heading>
                        Inversao
                        <span class="badge badge-success">1</span>
                    </uib-tab-heading>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>CdProduto</th>
                                <th>Produto</th>
                                <th>Loja</th>
                                <th>Estoque</th>
                                <th>Data Alerta</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Teste</td>
                                <td>Arsenal</td>
                                <td>100</td>
                                <td>01/01/2017</td>
                                <td>Novo</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        Ultimo Custo
                        <span class="badge badge-success">1</span>
                    </uib-tab-heading>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>CdProduto</th>
                                <th>Produto</th>
                                <th>Loja</th>
                                <th>Nota</th>
                                <th>Ultimo Custo</th>
                                <th>Penultimo Custo</th>
                                <th>Diferenca</th>
                                <th>Data Alerta</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Teste</td>
                                <td>Arsenal</td>
                                <td>100</td>
                                <td>2,59</td>
                                <td>1,86</td>
                                <td>20%</td>
                                <td>01/01/2017</td>
                                <td>Novo</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
