<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Inclusao/Alteracao de Usuario</h4>
        <small class="font-bold">Tela exclusivamente para inclusao/alteracao de usuario.</small>
    </div>
    <form role="form" name="cadUsuario">
        <div class="modal-body">
            <div class="form-group">
                <label>Tipo de Cadastro</label>
                <select id="tipocadastro" name="tipocadastro" class="form-control" ng-model="tipocadastro" ng-options="tipocadastrocomplete for tipocadastrocomplete in tiposdecadastro">
                </select>
            </div>
            <div class="form-group">
                <label>Pessoa</label>
                <input type="text" id="pessoa" name="pessoa" ng-model="pessoa" class="form-control" />
            </div>
            <div class="form-group">
                <label>Setor</label>
                <select id="setor" name="setor" class="form-control" ng-model="setor" ng-options="setorcomplete for setorcomplete in setores"></select>
            </div>
            <div class="form-group">
                <label>Filial</label>
                <select id="filial" name="filial" class="form-control" ng-model="filial" ng-options="filialcomplete.nmFilial as filialcomplete.nmFilial for filialcomplete in filiais"></select>
            </div>
            <div class="form-group">
                <div class="checkbox checkbox-inline checkbox-danger">
                    <input id="comercial" type="checkbox" ng-model="comercial">
                    <label for="comercial">
                        Comercial
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-primary">
                    <input id="financeiro" type="checkbox" ng-model="financeiro">
                    <label for="financeiro">
                        Financeiro
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-warning">
                    <input id="loja2" type="checkbox" ng-model="loja2">
                    <label for="loja2">
                        Loja2
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-warning">
                    <input id="financeiro" type="checkbox" ng-model="concentrador">
                    <label for="concentrador">
                        Concentrador
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-warning">
                    <input id="pdv" type="checkbox" ng-model="pdv">
                    <label for="pdv">
                        Pdv
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-success">
                    <input id="wms" type="checkbox" ng-model="wms">
                    <label for="wms">
                        WMS
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox checkbox-inline checkbox-info">
                    <input id="pidgin" type="checkbox" ng-model="pidgin">
                    <label for="pidgin">
                        Pidgin
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-info">
                    <input id="email" type="checkbox" ng-model="email">
                    <label for="email">
                        Email
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Observacao</label>
                <textarea id="observacao" name="observacao" ng-model="observacao" class="form-control"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-show="tipo != true" ng-click="incluir()">Incluir</button>
            <button type="submit" class="btn btn-primary" ng-show="(userCadastro == userLogado) && status == 1" ng-click="alterar()">Alterar</button>
            <button type="submit" class="btn btn-danger" ng-show="(userCadastro == userLogado) && status == 1" ng-click="excluir()">Excluir</button>
            <button type="submit" class="btn btn-primary" ng-show="grupo == 'Indicadores' && status == 1" ng-click="concluir()">Concluir</button>
        </div>
    </form>
</div>
