<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Inclusao/Alteracao de Usuario</h4>
        <small class="font-bold">Tela exclusivamente para inclusao/alteracao de usuario.</small>
    </div>
    <form role="form" name="cadUsuarioForm">
        <div class="modal-body">
            <div class="form-group">
                <label>Tipo de Cadastro</label>
                <select id="tipocadastro" name="tipocadastro" class="form-control" ng-required="true" ng-model="tipocadastro" ng-options="tipocadastrocomplete for tipocadastrocomplete in tiposdecadastro" ng-disabled="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)">
                </select>
                <div class="m-t-xs" ng-show="cadUsuarioForm.tipocadastro.$invalid && cadUsuarioForm.submitted">
                    <small class="text-danger" ng-show="cadUsuarioForm.tipocadastro.$error.required">Preencha o campo tipo de cadastro!</small>
                </div>
            </div>
            <div class="form-group">
                <label>Pessoa</label>
                <input type="text" id="pessoa" name="pessoa" ng-model="pessoa" ng-required="true" ng-readonly="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)" class="form-control" />
                <div class="m-t-xs" ng-show="cadUsuarioForm.pessoa.$invalid && cadUsuarioForm.submitted">
                    <small class="text-danger" ng-show="cadUsuarioForm.pessoa.$error.required">Preencha o campo pessoa!</small>
                </div>
            </div>
            <div class="form-group">
                <label>Setor</label>
                <select id="setor" name="setor" class="form-control" ng-model="setor" ng-required="true" ng-disabled="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)" ng-options="setorcomplete for setorcomplete in setores"></select>
                <div class="m-t-xs" ng-show="cadUsuarioForm.setor.$invalid && cadUsuarioForm.submitted">
                    <small class="text-danger" ng-show="cadUsuarioForm.setor.$error.required">Preencha o campo setor!</small>
                </div>
            </div>
            <div class="form-group">
                <label>Filial</label>
                <select id="filial" name="filial" class="form-control" ng-model="filial" ng-required="true" ng-disabled="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)" ng-options="filialcomplete.nmFilial as filialcomplete.nmFilial for filialcomplete in filiais"></select>
                <div class="m-t-xs" ng-show="cadUsuarioForm.filial.$invalid && cadUsuarioForm.submitted">
                    <small class="text-danger" ng-show="cadUsuarioForm.filial.$error.required">Preencha o campo filial!</small>
                </div>
            </div>
            <div class="form-group">
                <label>Senha</label>
                <input numbers-only type="text" id="senha" name="senha" ng-model="senha" ng-required="true" ng-readonly="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)" class="form-control" />
                <div class="m-t-xs" ng-show="cadUsuarioForm.senha.$invalid && cadUsuarioForm.submitted">
                    <small class="text-danger" ng-show="cadUsuarioForm.senha.$error.required">Preencha o campo senha!</small>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox checkbox-inline checkbox-danger">
                    <input id="comercial" type="checkbox" ng-model="comercial" ng-disabled="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)">
                    <label for="comercial">
                        Comercial
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-primary">
                    <input id="financeiro" type="checkbox" ng-model="financeiro" ng-disabled="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)">
                    <label for="financeiro">
                        Financeiro
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-warning">
                    <input id="loja2" type="checkbox" ng-model="loja2" ng-disabled="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)">
                    <label for="loja2">
                        Loja2
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-warning">
                    <input id="concentrador" type="checkbox" ng-model="concentrador" ng-disabled="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)">
                    <label for="concentrador">
                        Concentrador
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-warning">
                    <input id="pdv" type="checkbox" ng-model="pdv" ng-disabled="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)">
                    <label for="pdv">
                        Pdv
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-success">
                    <input id="wms" type="checkbox" ng-model="wms" ng-disabled="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)">
                    <label for="wms">
                        WMS
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox checkbox-inline checkbox-info">
                    <input id="pidgin" type="checkbox" ng-model="pidgin" ng-disabled="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)">
                    <label for="pidgin">
                        Pidgin
                    </label>
                </div>
                <div class="checkbox checkbox-inline checkbox-info">
                    <input id="email" type="checkbox" ng-model="email" ng-disabled="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)">
                    <label for="email">
                        Email
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Observacao</label>
                <textarea id="observacao" name="observacao" ng-model="observacao" class="form-control" ng-readonly="(tipo == true) && ((userLogado != usuarioCadastro) || status != 1)"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-show="tipo == false" ng-click="incluir()">Incluir</button>
            <button type="submit" class="btn btn-primary" ng-show="(usuarioCadastro == userLogado) && status == 1" ng-click="alterar()">Alterar</button>
            <button type="submit" class="btn btn-primary" ng-show="grupo == 'Indicadores' && status == 8" ng-click="concluir()">Concluir</button>
        </div>
    </form>
</div>
