<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="navigationCtrl">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" style="width:180px; height:90px;" src="/img/Logo-SM-horisontal.png" />
                    <a>
                        <!--<span class="clear">
                    <span class="block m-t-xs">
                        <strong class="font-bold">Supermarket</strong>
                 </span>
                    <span class="text-muted text-xs block">Alvorada</span>
                </span>-->
                    </a>
                </div>
                <div class="logo-element">
                    <img alt="image" class="img-circle" style="width:70px; height:40px;" src="/img/Logo-SM-horisontal.png" />
                </div>
            </li>

            <li ui-sref-active="active">
                <a ui-sref="principal.instutucional"><i class="fa fa-diamond"></i> <span class="nav-label">{{ 'Principal' | translate }}</span> </a>
            </li>

            <!--<li ui-sref-active="active">
        <a ui-sref="departamentos"><i class="fa fa-building"></i> <span class="nav-label">{{ 'Departamentos' | translate }}</span> </a>
    </li>-->

            <li ng-class="{active: $state.includes('alertas')}" ng-show="grupo == 1">
                <a href="#"><i class="fa fa-free-code-camp"></i> <span class="nav-label">{{ 'Alertas' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('alertas')}">
                    <li ui-sref-active="active" ng-show="grupo == 1"><a ui-sref="alertas.analitico">Analitico</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 10 || grupo == 11"><a ui-sref="alertas.geral">Geral</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 10 || grupo == 11"><a ui-sref="alertas.inversao">Inversao</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 10 || grupo == 11"><a ui-sref="alertas.ultcusto">Ultimo Custo</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 7"><a ui-sref="alertas.balanco">Balanco</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('despesas')}" ng-show="grupo == 1 || grupo == 4 || grupo == 5 || grupo == 12">
                <a href="#"><i class="fa fa-money"></i> <span class="nav-label">{{ 'Despesas' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('despesas')}">
                    <li ui-sref-active="active"><a href="#" ng-show="grupo != 5" ui-sref="despesas.cadmotivo">Cadastro de Motivo</a></li>
                    <li ui-sref-active="active"><a href="#" ng-show="grupo == 1" ui-sref="despesas.cadmotivofilial">Cadastro de Motivo Filial</a></li>
                    <li ui-sref-active="active"><a href="#" ng-show="grupo != 5" ui-sref="despesas.cadsituacao">Cadastro de Situacao</a></li>
                    <li ui-sref-active="active"><a href="#" ng-show="grupo != 5" ui-sref="despesas.cadfornecedor">Cadastro de Fornecedor</a></li>
                    <li ui-sref-active="active"><a href="#" ui-sref="despesas.cadsoldespesa">Cadastro de Soliticacao de Despesa</a></li>
                    <li ui-sref-active="active"><a href="#" ng-show="grupo != 5" ui-sref="despesas.aprovdespesa">Aprovacao de Despesa</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('controledecaixa')}" ng-show="grupo == 1 || grupo == 4 || grupo == 5 || grupo == 12 || grupo == 13 || grupo == 14">
                <a href="#"><i class="fa fa-calculator"></i> <span class="nav-label">{{ 'Controle de Cx' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('controledecaixa')}">
                    <li ui-sref-active="active" ng-show="grupo == 5 || grupo == 1"><a href="#" ui-sref="controledecaixa.controlegeral">Controle Geral</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 5 || grupo == 1"><a href="#" ui-sref="controledecaixa.relacompanhamento">Relatorio Acompanhamento</a></li>
                    <!--<li><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('aplicacoes.cadsupervisor')}" ng-show="grupo == 1" ui-sref="aplicacoes.cadsupervisor">Cadastro de Supervisor</a></li>
            <li><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('aplicacoes.cadatendente')}" ng-show="grupo == 1" ui-sref="aplicacoes.cadatendente">Cadastro de Atendente</a></li>-->
                    <li ui-sref-active="active" ng-show="grupo != 5"><a href="#" ui-sref="controledecaixa.supcontrolegeral">Supervisao Controle Geral</a></li>
                    <li ui-sref-active="active" ng-show="grupo != 5"><a href="#" ui-sref="controledecaixa.suprelacompanhamento">Relatorio Acompanhamento</a></li>
                    <li ui-sref-active="active" ng-show="grupo != 5"><a href="#" ui-sref="controledecaixa.logs">Logs</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('estoque')}" ng-show="grupo == 1 || grupo == 11">
                <a href="#"><i class="fa fa-building-o"></i> <span class="nav-label">{{ 'Estoque' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('estoque')}">
                    <li ui-sref-active="active"><a ui-sref="estoque.estoque">Alteracao Estoque</a></li>
                    <li ui-sref-active="active"><a ui-sref="estoque.estoquecusto">Alteracao Custo</a></li>
                    <li ui-sref-active="active"><a ui-sref="estoque.estoqueminimo">Alteracao Estoque Minimo</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('parametro')}" ng-show="grupo == 7 || grupo == 1">
                <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">{{ 'Parametro' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('parametro')}">
                    <li ui-sref-active="active"><a ui-sref="parametro.filial">Filial</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('permissoes')}" ng-show="grupo == 1">
                <a href="#"><i class="fa fa-user-o"></i> <span class="nav-label">{{ 'Permissoes' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('permissoes')}">
                    <li ui-sref-active="active"><a ui-sref="permissoes.grupos">Grupos</a></li>
                    <li ui-sref-active="active"><a ui-sref="permissoes.usuarios">Usuarios</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('produto')}" ng-show="grupo == 1 || grupo == 6 || grupo == 8 || grupo == 9 || grupo == 10 || grupo == 11 || grupo == 15 || grupo == 22">
                <a href="#"><i class="fa fa-database"></i> <span class="nav-label">{{ 'Produto' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('solproduto')}">
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 8"><a ui-sref="produto.solproduto.info_prod">Solicitacao de Cadastro</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 6 || grupo == 8 || grupo == 9 || grupo == 10 || grupo == 11"><a ui-sref="produto.sollistaprodutos">Lista de Solicitacoes de Cadastro</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 6"><a ui-sref="produto.sollistaprodutosmobile">Lista de Solicitacoes de Cadastro (Mobile)</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 8 || grupo == 9 || grupo == 10 || grupo == 11"><a ui-sref="produto.altproduto">Alteracao de Produto</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 8 || grupo == 9 || grupo == 10 || grupo == 11"><a ui-sref="produto.altlistaprodutos">Lista de Solicitacoes de Alteracao</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1"><a ui-sref="produto.classificacaoproduto">Classificacao de Produtos</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 10 || grupo == 15 || grupo == 22"><a ui-sref="produto.associacao">Associacao de Produtos</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('DRE')}" ng-show="grupo == 1">
                <a href="#"><i class="fa fa-database"></i> <span class="nav-label">{{ 'BP - DRE' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('DRE.principal')}">
                    <li ui-sref-active="active" ng-show="grupo == 1"><a ui-sref="DRE.principal">Demostrativo</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('abastecimento')}" ng-show="grupo == 1">
                <a href="#"><i class="fa fa-newspaper-o"></i> <span class="nav-label">{{ 'Abastecimento' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('abastecimento')}">
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 8"><a ui-sref="abastecimento.principal">Ajuste Preco Promocao</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1"><a ui-sref="abastecimento.parametro">Cadastro de Parametro</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1"><a ui-sref="abastecimento.aprovacao">Aprovacao de Abastecimento</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 26"><a ui-sref="abastecimento.massa">Alt.Abastecimento em Massa</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 26"><a ui-sref="abastecimento.massalog">Log Alt.Abastecimento em Massa</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('usuario')}">
                <a href="#"><i class="fa fa-user-o"></i> <span class="nav-label">{{ 'Usuarios' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('usuario')}">
                    <li ui-sref-active="active"><a ui-sref="usuario.cadusuarios">Cadastro de Usuarios</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 10 || grupo == 11"><a ui-sref="usuario.cadoperadores">Cadastro de Operadores</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('malote')}" ng-show="grupo == 1 || grupo == 4 || grupo == 5 || grupo == 12 || grupo == 15 || grupo == 16 || grupo == 21 || grupo == 22">
                <a href="#"><i class="fa fa-briefcase"></i> <span class="nav-label">{{ 'Malotes' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('malote')}">
                    <li ui-sref-active="active"><a ui-sref="malote.lista" ng-show="grupo == 1 || grupo == 4 || grupo == 5 || grupo == 12 || grupo == 15 || grupo == 16 || grupo == 21 || grupo == 22">Lista de Malote</a></li>
                    <li ui-sref-active="active"><a ui-sref="malote.tipos" ng-show="grupo == 1 || grupo == 4 || grupo == 12">Tipos De Malote</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('agendamento')}">
                <a href="#"><i class="fa fa-clock-o"></i> <span class="nav-label">{{ 'Agendamento' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('agendamento')}">
                    <li ui-sref-active="active"><a ui-sref="agendamento.estoqueminimo">Estoque Minimo</a></li>
                    <li ui-sref-active="active"><a ui-sref="agendamento.listaestoqueminimo">Agendamentos Estoque Minimo</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('cluster')}" ng-show="grupo == 1">
                <a href="#"><i class="fa fa-clock-o"></i> <span class="nav-label">{{ 'Cluster' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('cluster')}">
                    <li ui-sref-active="active"><a ui-sref="cluster.busca" ng-show="grupo == 1">Busca\Alteracao</a></li>
                    <!--<li ui-sref-active="active"><a ui-sref="agendamento.listaestoqueminimo">Agendamentos Estoque Minimo</a></li>-->
                </ul>
            </li>
        </ul>
    </div>
</nav>