<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="navigationCtrl">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="profile-element" uib-dropdown>
                    <img alt="image" class="img-circle" style="width:180px; height:90px;" src="/img/Logo-SM-horisontal.png" />
                    <a>
                        <!--<span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Supermarket</strong>
                         </span>
                            <span class="text-muted text-xs block">Alvorada</span>
                        </span>-->
                    </a>
                </div>
                <div class="logo-element">
                    <img alt="image" class="img-circle" style="width:70px; height:40px;" src="/img/Logo-SM-horisontal.png" />
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="principal.instutucional"><i class="fa fa-diamond"></i> <span class="nav-label">{{ 'Principal' | translate }}</span> </a>
            </li>
            <!--<li ui-sref-active="active">
                <a ui-sref="departamentos"><i class="fa fa-building"></i> <span class="nav-label">{{ 'Departamentos' | translate }}</span> </a>
            </li>-->
            <li ng-class="{active: $state.includes('alertas')}" ng-show="grupo == 1 || grupo == 7 || grupo == 10 || grupo == 11">
                <a href="#"><i class="fa fa-free-code-camp"></i> <span class="nav-label">{{ 'Alertas' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('alertas')}">
                    <li ui-sref-active="active" ng-show="grupo == 1"><a ui-sref="alertas.analitico">Analitico</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 10 || grupo == 11"><a ui-sref="alertas.geral">Geral</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 10 || grupo == 11"><a ui-sref="alertas.inversao">Inversao</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 10 || grupo == 11"><a ui-sref="alertas.ultcusto">Ultimo Custo</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 7"><a ui-sref="alertas.balanco">Balanco</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('despesas')}" ng-show="grupo == 1 || grupo == 4 || grupo == 5 || grupo == 12">
                <a href="#"><i class="fa fa-money"></i> <span class="nav-label">{{ 'Despesas' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('despesas')}">
                    <li><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('despesas.cadmotivo')}" ng-show="grupo != 5" ui-sref="despesas.cadmotivo">Cadastro de Motivo</a></li>
                    <li><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('despesas.cadsituacao')}" ng-show="grupo != 5" ui-sref="despesas.cadsituacao">Cadastro de Situacao</a></li>
                    <li><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('despesas.cadfornecedor')}" ng-show="grupo != 5" ui-sref="despesas.cadfornecedor">Cadastro de Fornecedor</a></li>
                    <li><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('despesas.cadsoldespesa')}" ui-sref="despesas.cadsoldespesa">Cadastro de Soliticacao de Despesa</a></li>
                    <li><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('despesas.aprovdespesa')}" ng-show="grupo != 5" ui-sref="despesas.aprovdespesa">Aprovacao de Despesa</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('controledecaixa')}" ng-show="grupo == 1 || grupo == 5 || grupo == 12 || grupo == 13 || grupo == 14">
                <a href="#"><i class="fa fa-calculator"></i> <span class="nav-label">{{ 'Controle de Cx' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('controledecaixa')}">
                    <li ng-show="grupo == 5 || grupo == 1"><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('controledecaixa.controlegeral')}" ui-sref="controledecaixa.controlegeral">Controle Geral</a></li>
                    <li ng-show="grupo == 5 || grupo == 1"><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('controledecaixa.relacompanhamento')}" ui-sref="controledecaixa.relacompanhamento">Relatorio Acompanhamento</a></li>
                    <!--<li><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('aplicacoes.cadsupervisor')}" ng-show="grupo == 1" ui-sref="aplicacoes.cadsupervisor">Cadastro de Supervisor</a></li>
                    <li><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('aplicacoes.cadatendente')}" ng-show="grupo == 1" ui-sref="aplicacoes.cadatendente">Cadastro de Atendente</a></li>-->
                    <li ng-show="grupo != 5"><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('controledecaixa.supcontrolegeral')}" ui-sref="controledecaixa.supcontrolegeral">Supervisao Controle Geral</a></li>
                    <li ng-show="grupo != 5"><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('controledecaixa.suprelacompanhamento')}" ui-sref="controledecaixa.suprelacompanhamento">Relatorio Acompanhamento</a></li>
                    <li ng-show="grupo != 5"><a href="#" ui-sref-active="active" ng-class="{in: $state.includes('controledecaixa.logs')}" ui-sref="controledecaixa.logs">Logs</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('estoque')}" ng-show="grupo == 1 || grupo == 11">
                <a href="#"><i class="fa fa-building-o"></i> <span class="nav-label">{{ 'Estoque' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('estoque')}">
                    <li ui-sref-active="active"><a ui-sref="estoque.estoque">Alteracao Estoque</a></li>
                    <li ui-sref-active="active"><a ui-sref="estoque.estoquecusto">Alteracao Custo</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('parametro')}" ng-show="grupo == 7 || grupo == 1">
                <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">{{ 'Parametro' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('parametro')}">
                    <li ui-sref-active="active"><a ui-sref="parametro.filial">Filial</a></li>
                </ul>
            </li>
            <li ng-class="{active: $state.includes('permissoes')}" ng-show="grupo == 1">
                <a href="#"><i class="fa fa-user-o"></i> <span class="nav-label">{{ 'Permissoes' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('permissoes')}">
                    <li ui-sref-active="active"><a ui-sref="permissoes.grupos">Grupos</a></li>
                    <li ui-sref-active="active"><a ui-sref="permissoes.usuarios">Usuarios</a></li>
                    <li ui-sref-active="active"><a ui-sref="permissoes.cadusuarios">Usuarios</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('produto')}" ng-show="grupo == 1 || grupo == 6 || grupo == 8 || grupo == 9 || grupo == 10 || grupo == 11">
                <a href="#"><i class="fa fa-database"></i> <span class="nav-label">{{ 'Produto' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('solproduto')}">
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 8"><a ui-sref="produto.solproduto.info_prod">Solicitacao de Cadastro</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 6 || grupo == 8 || grupo == 9 || grupo == 10 || grupo == 11"><a ui-sref="produto.sollistaprodutos">Lista de Solicitacoes de Cadastro</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 6"><a ui-sref="produto.sollistaprodutosmobile">Lista de Solicitacoes de Cadastro (Mobile)</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 8 || grupo == 10 || grupo == 11"><a ui-sref="produto.altproduto">Alteracao de Produto</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 8 || grupo == 10 || grupo == 11"><a ui-sref="produto.altlistaprodutos">Lista de Solicitacoes de Alteracao</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 10"><a ui-sref="produto.classificacaoproduto">Classificacao de Produtos</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 10"><a ui-sref="produto.associacao">Associacao de Produtos</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('suporte')}" ng-show="grupo == 1">
                <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">{{ 'Suporte' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('suporte')}">
                    <li ui-sref-active="active" ng-show="grupo == 1"><a ui-sref="suporte.chamsuporte">Cadastro de Chamados</a></li>
                    <li ui-sref-active="active" ng-show="grupo == 1"><a ui-sref="suporte.chamsuporteassunto">Cadastro de Assuntos</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('DRE')}" ng-show="grupo == 1">
                <a href="#"><i class="fa fa-database"></i> <span class="nav-label">{{ 'BP - DRE' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('DRE.principal')}">
                    <li ui-sref-active="active" ng-show="grupo == 1"><a ui-sref="DRE.principal">Demostrativo</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('promocao')}" ng-show="grupo == 1 || grupo == 8">
                <a href="#"><i class="fa fa-newspaper-o"></i> <span class="nav-label">{{ 'Promocao' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('promocao.principal')}">
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 8"><a ui-sref="promocao.principal">Ajuste Preco Promocao</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('usuario')}" ng-show="grupo == 1 || grupo == 10 || grupo == 11 || grupo == 16">
                <a href="#"><i class="fa fa-user-o"></i> <span class="nav-label">{{ 'Usuarios' | translate }}</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('usuario.cadusuarios')}">
                    <li ui-sref-active="active" ng-show="grupo == 1 || grupo == 10 || grupo == 11 || grupo == 16"><a ui-sref="usuario.cadusuarios">Cadastro de Usuarios</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>