<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Inclusao/Alteracao de Malote</h4>
        <small class="font-bold">Tela exclusivamente para inclusao/alteracao de malote.</small>
    </div>
    <form role="form" name="tipomaloteForm">
        <div class="modal-body">
            <div class="form-group">
                <label>Nº Lacre</label>
                <input numbers-only id="lacre" name="lacre" class="form-control" ng-model="lacre" ng-readonly="(idStatus == 2) || ((usuarioCadastro != usuarioLogado) && (usuarioCadastro != null))"/>
            </div>
            <div class="form-group">
                <label>Malote</label>
                <!--<input id="malote" name="malote" class="form-control" ng-model="malote" />-->
                <select class="form-control" id="malote" ng-model="maloteDisp" name="malote" ng-disabled="(idStatus == 2) || ((usuarioCadastro != usuarioLogado) && (usuarioCadastro != null))" ng-options="malote.Id as malote.Numero + ' - ' +malote.Setor for malote in malotes"></select>
            </div>
            <div class="form-group">
                <label>Loja</label>
                <select class="form-control" ng-disabled="(grupo != 'Contabilidade' && grupo != 'DP/RH') || (idStatus == 2) || ((usuarioCadastro != usuarioLogado) && (usuarioCadastro != null))" name="loja" id="loja" ng-model="loja" ng-options="loja.Id as loja.Nome + ' ' +loja.Sobrenome for loja in lojas"></select>
            </div>
            <div class="form-group">
                <label>Descricao</label>
                <textarea id="setor" name="setor" class="form-control" ng-model="descricao" ng-readonly="(idStatus == 2) || ((usuarioCadastro != usuarioLogado) && (usuarioCadastro != null))"/>
            </div>

            <div class="form-group" ng-show="id != undefined">
                <label>Motivo</label>
                <textarea id="motivo" name="motivo" class="form-control" ng-model="motivo" ng-readonly="(idStatus == 2)" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Fechar</button>
            <button type="submit" class="btn btn-primary" ng-show="id == undefined" ng-disabled="isdisable" ng-click="incluir()">Incluir</button>
            <button type="submit" class="btn btn-primary" ng-show="(idStatus == 1 || idStatus == 3) && ((usuarioCadastro == usuarioLogado) && (usuarioCadastro != null))" ng-disabled="isdisable" ng-click="editar()">Editar</button>
            <button type="submit" class="btn btn-danger" ng-show="(idStatus == 1) && ((usuarioCadastro == usuarioLogado) && (usuarioCadastro != null))" ng-click="excluir()">Excluir</button>
            <button type="submit" class="btn btn-primary" ng-show="grupo == 'CPD Deposito' && idStatus == 1" ng-click="confirmarDeposito()">Confirmar</button>
            <button type="submit" class="btn btn-primary" ng-show="((grupo == 'Contabilidade' && usuarioCadastro != usuarioLogado) || (grupo == 'DP/RH' && usuarioCadastro  != usuarioLogado) || (grupo == 'DP/RH Loja' && loja == usuarioLogado)) && (idStatus == 4 || idStatus == 3)" ng-click="confirmar()">Confirmar</button>
            <button type="submit" class="btn btn-warning" ng-show="((grupo == 'Contabilidade' && usuarioCadastro != usuarioLogado) || (grupo == 'DP/RH' && usuarioCadastro  != usuarioLogado) || (grupo == 'DP/RH Loja' && loja == usuarioLogado)) && (idStatus == 1 || idStatus == 4)" ng-click="pendurar()">Pendente</button>
        </div>
    </form>
</div>
