<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Inclusao/Alteracao de Associacao</h4>
        <small class="font-bold">Tela exclusivamente para inclusao/alteracao de associacao.</small>
    </div>
    <form role="form" name="associacaoForm">
        <div class="modal-body">
            <div class="form-group">
                <label>Chave NF-E</label>
                <input type="text" placeholder="Chave NF-E" name="nfe" ng-model="nfe" class="form-control" ng-required="true" ng-minlength="44">
                <div class="m-t-xs" ng-show="associacaoForm.nfe.$invalid && associacaoForm.submitted">
                    <small class="text-danger" ng-show="associacaoForm.nfe.$error.required">Preencha a Chave NF-E!</small>
                </div>
                <div class="m-t-xs" ng-show="associacaoForm.nfe.$invalid && associacaoForm.submitted">
                    <small class="text-danger" ng-show="associacaoForm.nfe.$error.minlength">NF-E deve possuir no minimo 44 numeros!</small>
                </div>
            </div>
            <div class="form-group">
                <label>CNPJ</label>
                <input type="text" placeholder="CNPJ" name="cnpj" ng-model="cnpj" data-mask="99.999.999/9999-99" class="form-control" ng-required="true" ng-minlength="14">
                <div class="m-t-xs" ng-show="associacaoForm.cnpj.$invalid && associacaoForm.submitted">
                    <small class="text-danger" ng-show="associacaoForm.cnpj.$error.required">Preencha o CNPJ!</small>
                </div>
                <div class="m-t-xs" ng-show="associacaoForm.cnpj.$invalid && associacaoForm.submitted">
                    <small class="text-danger" ng-show="associacaoForm.cnpj.$error.minlength">CNPJ deve possuir no minimo 14 numeros!</small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Fechar</button>
            <button type="submit" class="btn btn-primary" ng-click="incluir()">Salvar</button>
        </div>
    </form>
</div>
