<style>
    .app-modal-window .modal-dialog {
        width: 90%;
        overflow-x: auto;
    }
</style>

<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Inclusao/Alteracao de EAN/DUN</h4>
        <small class="font-bold">Tela exclusivamente para inclusao/alteracao de EAN/DUN</small>
    </div>
    <form role="form" name="EANForm">
        <div class="modal-body">
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th> Cod no Fornecedor</th>
                            <th>Descricao / Sabor *</th>
                            <th>EAN *</th>
                            <th>DUN *</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="grade in grades">
                        <tr>
                            <!--<td class="col-lg-4"><input type="text" ng-model="grade.produto" uib-typeahead="produto for produto in produtos | filter:$viewValue | limitTo:5" class="form-control"></td>-->
                            <td class="col-lg-2">
                                <input id="codfornecedor" ng-model="grade.codfornecedor" name="codfornecedor" type="text" class="form-control">
                            </td>
                            <td class="col-lg-4">
                                <input id="descricaosabor" ng-model="grade.descricaosabor" ng-required="true" name="descricaosabor" type="text" class="form-control">
                            </td>
                            <td class="col-lg-3">
                                <input id="EAN" ng-model="grade.EAN" ng-required="true" name="EAN" type="text" class="form-control">
                            </td>
                            <td class="col-lg-3">
                                <input id="DUN" ng-model="grade.DUN" ng-required="true" name="DUN" type="text" class="form-control">
                            </td>
                            <td>
                                <button class="btn btn-success btn-circle" type="button" ng-click="addNew();">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-circle" type="button" ng-click="remove(grade);">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <button class="btn btn-sm btn-default btn-rounded" type="button" ng-click="todas(grade)"><i class="fa fa-edit"></i> Todas</button>
                                <button class="btn btn-sm btn-default btn-rounded" type="button" ng-click="lojasPequenas(grade);"><i class="fa fa-edit"></i> Pequenas</button>
                                <button class="btn btn-sm btn-default btn-rounded" type="button" ng-click="lojasMedias(grade);"><i class="fa fa-edit"></i> Medias</button>
                                <button class="btn btn-sm btn-default btn-rounded" type="button" ng-click="lojasGrandes(grade);"><i class="fa fa-edit"></i> Grandes</button>
                                <button class="btn btn-sm btn-default btn-rounded" type="button" ng-click="lojasPremium(grade);"><i class="fa fa-edit"></i> Premium</button>
                                <button class="btn btn-sm btn-warning btn-rounded" type="button" ng-click="cdItaborai(grade)"><i class="fa fa-edit"></i> Cd.Itaborai</button>
                                <button class="btn btn-sm btn-warning btn-rounded" type="button" ng-click="cdManilha(grade)"><i class="fa fa-edit"></i> Cd.Manilha</button>
                                <button class="btn btn-sm btn-success btn-rounded" type="button" ng-click="limpar(grade)"><i class="fa fa-edit"></i> Limpar</button>
                                <table class="table table-striped table-bordered table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th colspan="7" style="background-color:darkcyan; color:white">Regional A</th>
                                            <th colspan="8" style="background-color:darkcyan; color:white">Regional B</th>
                                            <th colspan="7" style="background-color:darkcyan; color:white">Regional C</th>
                                            <th colspan="2" style="background-color:darkcyan; color:white">Depositos</th>
                                        </tr>
                                        <tr>
                                            <th>ITA</th>
                                            <th>ITA2</th>
                                            <th>MGE</th>
                                            <th>MGE2</th>
                                            <th>RBO</th>
                                            <th>RBO2</th>
                                            <th>TNG</th>
                                            <th>ASN</th>
                                            <th>AGM</th>
                                            <th>INOÃ</th>
                                            <th>JDC</th>
                                            <th>MRC</th>
                                            <th>NCE</th>
                                            <th>RDO</th>
                                            <th>TND</th>
                                            <th>ARM</th>
                                            <th>ARM2</th>
                                            <th>BCX</th>
                                            <th>CBF</th>
                                            <th>JDE</th>
                                            <th>MCE</th>
                                            <th>SPD</th>
                                            <th>CDI</th>
                                            <th>CDM</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center"> <input id="ITA" name="ITA" type="checkbox" ng-model="grade.ITA"></td>
                                            <td style="text-align:center"> <input id="ITA2" name="ITA2" type="checkbox" ng-model="grade.ITA2"></td>
                                            <td style="text-align:center"> <input id="MGE" name="MGE" type="checkbox" ng-model="grade.MGE"></td>
                                            <td style="text-align:center"> <input id="MGE2" name="MGE2" type="checkbox" ng-model="grade.MGE2"></td>
                                            <td style="text-align:center"> <input id="RBO" name="RBO" type="checkbox" ng-model="grade.RBO"></td>
                                            <td style="text-align:center"> <input id="RBO2" name="RBO2" type="checkbox" ng-model="grade.RBO2"></td>
                                            <td style="text-align:center"> <input id="TNG" name="TNG" type="checkbox" ng-model="grade.TNG"></td>
                                            <td style="text-align:center"> <input id="ASN" name="ASN" type="checkbox" ng-model="grade.ASN"></td>
                                            <td style="text-align:center"> <input id="AGM" name="AGM" type="checkbox" ng-model="grade.AGM"></td>
                                            <td style="text-align:center"> <input id="INO" name="INO" type="checkbox" ng-model="grade.INO"></td>
                                            <td style="text-align:center"> <input id="JDC" name="JDC" type="checkbox" ng-model="grade.JDC"></td>
                                            <td style="text-align:center"> <input id="MRC" name="MRC" type="checkbox" ng-model="grade.MRC"></td>
                                            <td style="text-align:center"> <input id="NCE" name="NCE" type="checkbox" ng-model="grade.NCE"></td>
                                            <td style="text-align:center"> <input id="RDO" name="RDO" type="checkbox" ng-model="grade.RDO"></td>
                                            <td style="text-align:center"> <input id="TND" name="TND" type="checkbox" ng-model="grade.TND"></td>
                                            <td style="text-align:center"> <input id="ARM" name="ARM" type="checkbox" ng-model="grade.ARM"></td>
                                            <td style="text-align:center"> <input id="ARM2" name="ARM2" type="checkbox" ng-model="grade.ARM2"></td>
                                            <td style="text-align:center"> <input id="BCX" name="BCX" type="checkbox" ng-model="grade.BCX"></td>
                                            <td style="text-align:center"> <input id="CBF" name="CBF" type="checkbox" ng-model="grade.CBF"></td>
                                            <td style="text-align:center"> <input id="JDE" name="JDE" type="checkbox" ng-model="grade.JDE"></td>
                                            <td style="text-align:center"> <input id="MCE" name="MCE" type="checkbox" ng-model="grade.MCE"></td>
                                            <td style="text-align:center"> <input id="SPD" name="SPD" type="checkbox" ng-model="grade.SPD"></td>
                                            <td style="text-align:center"> <input id="CDI" name="CDI" type="checkbox" ng-model="grade.CDI"></td>
                                            <td style="text-align:center"> <input id="CDM" name="CDM" type="checkbox" ng-model="grade.CDM"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Fechar</button>
            <button type="submit" class="btn btn-primary" ng-click="incluir()">Salvar</button>
        </div>
    </form>
</div>
