<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Inclusao/Alteracao de EAN/DUN</h4>
        <small class="font-bold">Tela exclusivamente para inclusao/alteracao de EAN/DUN</small>
    </div>
    <form role="form" name="EANForm">
        <div class="modal-body">
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produto *</th>
                            <th>EAN/DUN *</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="grade in grades">
                            <td class="col-lg-8">
                                <input type="text" ng-model="grade.produto" name="produto" typeahead-on-select="onSelect($item, $model, $label)" uib-typeahead="produto for produto in produtos | filter:$viewValue | limitTo:10" class="form-control" ng-required="true">
                                <div class="m-t-xs" ng-show="associacaoForm.produto.$invalid && associacaoForm.submitted">
                                    <small class="text-danger" ng-show="associacaoForm.produto.$error.required">Preencha o Produto!</small>
                                </div>
                            </td>

                            <!--<td class="col-lg-4">
                        <select id="EAN" ng-model="grade.EAN" name="EAN" type="text" class="form-control" ng-options="Ean.CdEAN as Ean.CdEAN for Ean in Eans"></select>
                    </td>-->
                            <td class="col-lg-4">
                                <input id="EAN" ng-model="grade.EAN" name="EAN" type="number" class="form-control" ng-required="true" />
                                <div class="m-t-xs" ng-show="associacaoForm.EAN.$invalid && associacaoForm.submitted">
                                    <small class="text-danger" ng-show="associacaoForm.EAN.$error.required">Preencha o EAN!</small>
                                </div>
                            </td>

                            <td>
                                <button class="btn btn-success btn-circle" type="button" ng-click="addNew();">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-circle" type="button" ng-click="remove(grade);">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Fechar</button>
            <button type="submit" class="btn btn-primary" ng-click="incluir()">Salvar</button>
        </div>
    </form>
</div>
