<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Inclusao/Alteracao de Solicitacao</h4>
        <small class="font-bold">Tela exclusivamente para solicitacao de alteracao.</small>
    </div>
    <form role="form" name="altForm">
        <div class="modal-body">
            <div class="form-group">
                <label>Campo</label>
                <select class="form-control" name="campo" ng-model="campo" ng-required="true">
                    <option value="Descricao">Mudança de Descricao</option>
                    <option value="Abastecimento">Mudança de Abastecimento</option>
                    <option value="Divisao">Cópia de Divisão</option>
                    <option value="Desmembramento">Desmembramento de Super Produto</option>
                    <option value="Mix">Alteração no Mix</option>
                </select>
                <div class="m-t-xs" ng-show="altForm.campo.$invalid && campo.submitted">
                    <small class="text-danger" ng-show="altForm.campo.$error.required">Preencha o nome da descricao!</small>
                </div>
            </div>

            <!-- Descrição de Produto - Inicio -->

            <div class="form-group" ng-show="campo == 'Descricao'">
                <label>De: </label>
                <input type="text" class="form-control" ng-required="true" ng-disabled="true"/>
            </div>

            <div class="form-group" ng-show="campo == 'Descricao'">
                <label>Para: </label>
                <input type="text" ng-model="detalhe" name="detalhe" class="form-control" ng-required="true" />
                <div class="m-t-xs" ng-show="altForm.detalhe.$invalid && altForm.submitted">
                    <small class="text-danger" ng-show="altForm.detalhe.$error.required">Preencha o nome da descricao!</small>
                </div>
            </div>

            <!-- Descrição de Produto - Fim -->

            <!-- Abastecimento - Inicio -->

            <div class="form-group" ng-show="campo == 'Abastecimento'">
                <label>Abastecimento: </label>
                <select class="form-control" name="detalhe" ng-model="detalhe" ng-required="true">
                    <option value="EDL">EDL</option>
                    <option value="CCEDL">CCEDL</option>
                    <option value="Centralizado">Centralizado</option>
                    <option value="Cross-Docking">Cross-Docking</option>
                </select>
                <div class="m-t-xs" ng-show="altForm.detalhe.$invalid && altForm.submitted">
                    <small class="text-danger" ng-show="altForm.detalhe.$error.required">Preencha o nome da descricao!</small>
                </div>
            </div>

            <!-- Abastecimento - Fim -->

            <!-- Divisão - Inicio -->

            <div class="form-group" ng-show="campo == 'Divisao'">
                <label>De: </label>
                <input type="text" class="form-control" ng-required="true" />
            </div>

            <div class="form-group" ng-show="campo == 'Divisao'">
                <label>Para: </label>
                <input type="text" ng-model="detalhe" name="detalhe" class="form-control" ng-required="true" />
                <div class="m-t-xs" ng-show="altForm.detalhe.$invalid && altForm.submitted">
                    <small class="text-danger" ng-show="altForm.detalhe.$error.required">Preencha o nome da descricao!</small>
                </div>
            </div>

            <!-- Divisão - Fim -->

            <!-- Desmembramento - Inicio -->

            <div class="form-group" ng-show="campo == 'Desmembramento'">
                <label>Codigo do Produto: </label>
                <input type="text" ng-model="detalhe" name="detalhe" class="form-control col-lg-6" ng-required="true" />
                <div class="m-t-xs" ng-show="altForm.detalhe.$invalid && altForm.submitted">
                    <small class="text-danger" ng-show="altForm.detalhe.$error.required">Preencha o nome da descricao!</small>
                </div>
            </div>

            <!-- Desmembramento - Fim -->

            <div class="form-group" ng-show="campo == 'Mix'">
                <label>Mix</label>
                <select multiple chosen class="chosen-select" id="mix" name="mix" ng-model="formData.mix">
                    <option value="TODOS">TODOS</option>
                    <option value="ÁGUA MINERAL">ÁGUA MINERAL</option>
                    <option value="ARARUAMA">ARARUAMA</option>
                    <option value="ARSENAL">ARSENAL</option>
                    <option value="BACAXÁ">BACAXÁ</option>
                    <option value="CABO FRIO">CABO FRIO</option>
                    <option value="CD MANILHA">CD MANILHA</option>
                    <option value="CD MATRIZ">CD MATRIZ</option>
                    <option value="COLUBANDE">COLUBANDE</option>
                    <option value="ITABORAI">ITABORAI</option>
                    <option value="JARDIM CATARINA">JARDIM CATARINA</option>
                    <option value="MAGE">MAGE</option>
                    <option value="MAGÉ 2">MAGÉ 2</option>
                    <option value="MARICÁ">MARICÁ</option>
                    <option value="RIO BONITO">RIO BONITO</option>
                    <option value="TANGUÁ">TANGUÁ</option>
                </select>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Fechar</button>
            <!--<button type="submit" class="btn btn-primary" ng-click="editar()">Salvar</button>-->
            <button type="submit" class="btn btn-primary" ng-click="incluir()">Salvar</button>
            <!--<button type="submit" class="btn btn-primary" ng-show="tipo == 'Alteracao'" ng-click="editar()">Salvar</button>
            <button type="submit" class="btn btn-primary" ng-show="tipo == 'Inclusao'" ng-click="incluir()">Salvar</button>-->
        </div>
    </form>
</div>
