<html lang="en" ng-app="classificacaoProdutoApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/scripts/angular.js" type="text/javascript" language="javascript"></script>
    @*Iniciação do módulo*@
    <script src="~/scripts/ClassificacaoProdutoApp.js" type="text/javascript" language="javascript"></script>
    @*Iniciação do Controller*@
    <script src="~/scripts/Controllers/ClassificacaoProdutoCtrl.js" type="text/javascript" language="javascript"></script>
    @*Iniciação do Diretiva*@
    <script src="~/scripts/Directive/abn_tree_directive.js" type="text/javascript" language="javascript"></script>
    @*Iniciação do Service*@
    <script src="~/scripts/Services/ClassificacaoProdutoService.js" type="text/javascript" language="javascript"></script>

    <script src="~/scripts/angular-route.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-animate.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-sanitize.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.js" type="text/javascript" language="javascript"></script>
    
    

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/abn_tree.css">
    <title>Index</title>

    <script type="text/javascript">

        app.controller("ModalInstanceCtrl", function ($scope, $uibModal, $uibModalInstance, $interval, ClassificacaoProdutoService) {
            $scope.compradores = [
                { CdUsuario: 14, NmUsuario: "Diego Gonçalves" },
                { CdUsuario: 175, NmUsuario: "Geraldo Bonifácio" },
                { CdUsuario: 12, NmUsuario: "Julio Ruiz" },
                { CdUsuario: 15, NmUsuario: "Marcel Louis" },
                { CdUsuario: 144, NmUsuario: "Renato Barros" },
                { CdUsuario: 27, NmUsuario: "Vinicius Bonifácio" },
                { CdUsuario: 13, NmUsuario: "Wanderson Batista" }
            ]

            ClassificacaoProdutoService.GetByCdClassificacao($scope.output).then(function (response) {
                console.log(response.data);
                if (response.data.Usuario == null) {
                    $scope.nomeComprador = null;    
                }
                else {
                    $scope.nomeComprador = response.data.Usuario.NmUsuario;
                }
                    
                
                $scope.nrCobertura = response.data.NrCobertura;
                $scope.nrCoberturaMinima = response.data.NrCoberturaMinima;
                $scope.prMargem = response.data.PrMargem;
                $scope.prMargemMinima = response.data.PrMargemMinima;
            })

            $scope.saveChanges = function () {
                $scope.objUpdate = {
                    "CdComprador": $scope.nomeComprador.CdUsuario,
                    "CdClassificacaoProduto": $scope.output,
                    "nrCobertura": $scope.nrCobertura,
                    "nrCoberturaMinima": $scope.nrCoberturaMinima,
                    "prMargem": $scope.prMargem,
                    "prMargemMinima": $scope.prMargemMinima
                };


                alert(angular.toJson($scope.objUpdate));
                //ClassificacaoProdutoService.UpdateClassificacao(angular.toJson($scope.objUpdate))
                $uibModal.open({
                    templateUrl: 'modalSucess.html',
                    scope: $scope
                });
                $uibModalInstance.close();
            };

            $scope.cancel = function () {
                $uibModalInstance.dismiss('cancel');
            };
        });
    </script>
</head>
<body ng-controller="ClassificacaoProdutoCtrl">
    <div class="container-fluid">
        <div class="page-header">
            <h1>Classificação Produto  <small> - Alteração de classificacao</small></h1>
        </div>
        <div style="float:left; width:400px;background:whitesmoke;border:1px solid lightgray;border-radius:5px;">
            <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)" expand-level="1"></abn-tree>
        </div>
        <div style="float:left; margin-left:10px; margin-top: 20px;">
            <div>
                <button ng-click="my_tree.expand_all()" class="btn btn-success btn-sm">Expand All</button>
            </div>
            <div>
                <button ng-click="my_tree.collapse_all()" class="btn btn-danger btn-sm">Collapse All</button>
            </div>
            <div>
                <button ng-click="selected($index)" class="btn btn-primary btn-sm">Select</button>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="myModal.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Modal title
                </h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="Comprador" style="text-decoration: underline; text-decoration-color: red;">Comprador</label>
                        <div class="col-sm-10">
                            <select class="form-control" 
                                    ng-model="nomeComprador"
                                    ng-options="comprador.NmUsuario for comprador in compradores">
                            </select>
                            {{nomeComprador}}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="Margem">Margem</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" ng-model="prMargem" name="prMargem" id="prMargem" placeholder="Margem" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="Margem Minima">Margem Minima</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="prMargemMinima" name="prMargemMinima" ng-model="prMargemMinima" placeholder="Margem Minima" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="Cobertura">Cobertura</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="nrCobertura" name="nrCobertura" ng-model="nrCobertura" placeholder="Cobertura" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="Cobertura">Cobertura Minima</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="nrCoberturaMinima" name="nrCoberturaMinima" ng-model="nrCoberturaMinima" placeholder="Cobertura Minima" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveChanges()">
                    Save changes
                </button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="modalSucess.html">
        <div class="alert alert-success" style="margin-bottom: 1px;">
            Alteração feita com sucesso!
        </div>
    </script>

    <script type="text/ng-template" id="modalFail.html">
        <div class="alert alert-danger" style="margin-bottom: 1px;">
            Preencha os campos corretamentes!
        </div>
    </script>
</body>
</html>
