<div class="wrapper wrapper-content animated fadeInRight" ng-controller="cadFornecedorCtrl">
    <form role="form" name="prodForm" id="prodForm">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title"><b>Informações do Produto</b></div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Descricao *</label>
                                    <input id="descricao" ng-model="descricao" ng-required="true" name="descricao" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Comprador *</label>
                                    <select chosen class="chosen-select" id="comprador" name="comprador" ng-model="comprador" ng-required="true">
                                        <option value="Alexandre Martins">Alexandre Martins</option>
                                        <option value="Diego Goncalves">Diego Goncalves</option>
                                        <option value="Geraldo Bonifacio">Geraldo Bonifacio</option>
                                        <option value="Julio Ruiz">Julio Ruiz</option>
                                        <option value="Leandro Moreira">Leandro Moreira</option>
                                        <option value="Marcel Louis">Marcel Louis</option>
                                        <option value="Nilo Sergio Coelho de Oliveira">Nilo Sergio Coelho de Oliveira</option>
                                        <option value="Renato Barros">Renato Barros</option>
                                        <option value="Thiago Amaral">Thiago Amaral</option>
                                        <option value="Vinicius Bonifacio">Vinicius Bonifacio</option>
                                        <option value="Wanderson Batista">Wanderson Batista</option>
                                    </select>
                                    <div class="m-t-xs" ng-show="prodForm.comprador.$invalid && prodForm.submitted">
                                        <small class="text-danger" ng-show="prodForm.comprador.$error.required">Preencha o comprador!</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group ">
                                    <label>Fornecedor *</label>
                                    <input type="text" ng-model="fornecedor" id="fornecedor" name="fornecedor" ng-required="true" uib-typeahead="fonecedor.NomePessoa for fonecedor in fonecedores | filter:$viewValue | limitTo:8" class="form-control">
                                    <div class="m-t-xs" ng-show="prodForm.fornecedor.$invalid && prodForm.submitted">
                                        <small class="text-danger" ng-show="prodForm.fornecedor.$error.required">Preencha o fornecedor!</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Segmento</label>
                                    <select class="form-control" id="segmento" name="segmento" ng-model="segmento">
                                        <option value="">Selecione o Segmento</option>
                                        <option value="Premium">Premium</option>
                                        <option value="Basico">Basico</option>
                                        <option value="Popular">Popular</option>
                                        <option value="Marca Propria">Marca Propria</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Abastecimento *</label>
                                    <select class="form-control" id="abastecimento" name="abastecimento" tabindex="3" ng-model="abastecimento">
                                        <option value="">Selecione o Abastecimento</option>
                                        <option value="EDL">EDL</option>
                                        <option value="CCEDL">CCEDL</option>
                                        <option value="Centralizado">Centralizado</option>
                                        <option value="Cross-Docking">Cross-Docking</option>
                                    </select>
                                    <div class="m-t-xs" ng-show="prodForm.abastecimento.$invalid && prodForm.submitted">
                                        <small class="text-danger" ng-show="prodForm.abastecimento.$error.required">Preencha o tipo de abastecimento!</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Sensibilidade Concorrencia *</label>
                                    <select class="form-control" id="concorrencia" ng-required="true" name="concorrencia" tabindex="3" ng-model="concorrencia">
                                        <option value="">Selecione a Sensibilidade</option>
                                        <option value="Ultra Notavel">Ultra Notavel</option>
                                        <option value="Super Notavel">Super Notavel</option>
                                        <option value="Notavel">Notavel</option>
                                        <option value="Sazonal">Sazonal</option>
                                    </select>
                                    <div class="m-t-xs" ng-show="prodForm.concorrencia.$invalid && prodForm.submitted">
                                        <small class="text-danger" ng-show="prodForm.concorrencia.$error.required">Preencha o tipo de concorrencia!</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Custo Aquisicao</label>
                                    <input id="custo" ng-model="custo" name="custo" type="text" class="form-control" money-mask>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Preco de Venda</label>
                                    <input id="venda" ng-model="venda" name="venda" type="text" class="form-control" money-mask>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
