<html lang="en" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/scripts/angular.js" type="text/javascript" language="javascript"></script>
    @*Iniciação do módulo*@
    <script src="~/scripts/App.js" type="text/javascript" language="javascript"></script>
    @*Iniciação do Controllers*@
    <script src="~/scripts/Controllers/listaAlertaCtrl.js" type="text/javascript" language="javascript"></script>
    @*Iniciação do Services*@
    <script src="~/scripts/Services/AlertaGeralService.js" type="text/javascript" language="javascript"></script>

    <script src="~/scripts/angular-route.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-animate.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-sanitize.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.js" type="text/javascript" language="javascript"></script>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Custom/Alerta/Principal.css" />

    <title>Index</title>

    <script type="text/javascript">

        app.controller('appCtrl', function (AlertaGeralService, $scope, $interval, $filter, $location) {

            $scope.carregarDados = function () {

                $scope.dados = [];
                $scope.test = 0;
                $scope.currentPage = 0;
                $scope.pageSize = 14;
                $scope.buscaProduto = "";

                AlertaGeralService.GetallInvertidos().then(function (response) {
                    $scope.dados = response.data;
                    $scope.totalItems = response.data.length;
                    $scope.totalNumPages = response.data.length / $scope.pageSize;

                    $scope.orderByMe = function (colunm) {
                        $scope.reverse = ($scope.orderBycolumn === colunm) ? !$scope.reverse : false;
                        $scope.orderBycolumn = colunm;
                    }

                    $scope.changeView = function (id) {
                        $location.path('ListaDeAlertas');
                        $scope.test = id;
                    }

                    $scope.getData = function () {
                        return $filter('filter')(response.data, $scope.buscaProduto)
                    };

                    $scope.numberOfPages = function () {
                        return Math.ceil($scope.dados.length / $scope.pageSize);
                    };

                    $scope.$watch('buscaProduto', function (newValue, oldValue) {
                        if (oldValue != newValue) {
                            $scope.currentPage = 0;
                        }
                    }, true);

                    //$scope.numPages = $scope.numberOfPages();
                    //console.log($scope.numPages);
                    //console.log($scope.dados.length);
                    //console.log($scope.pageSize);

                }, function (data) {
                    $scope.message = "Aconteceu um problema: " + response.status;
                });
            };

            $scope.carregarDados();

            aa
            a
        });

        app.filter('startFrom', function () {
            return function (input, start) {
                start = +start; //parse to int
                return input.slice(start);
            }
        });

        //app.service('AlertaGeralService', function ($http) {
        //    //var serviceBase = 'http://localhost:50837/';
        //    //var serviceBaseProducao = 'http://192.168.1.199:9810/Intranet.API/'

        //    //this.GetallInvertidos = function () {
        //    //    return $http.get(serviceBaseProducao + "api/AlertaGeral/Get");
        //    //}

        //    //this.SaveObservacao = function (data) {
        //    //    return $http.post(serviceBase + "api/Alerta/Cadastrar", data)
        //    //}

        //    //this.GetAllInvertidos2 = function (data) {
        //    //    return $http.get(serviceBase + "api/AlertaInversao");
        //    //}
        //});


    </script>
</head>

<body ng-controller="appCtrl as appCtrl">
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">teste</div>
            </div>
            <div class="panel-body">
                <div style="margin-bottom: 12px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" name="buscaProduto" id="buscaProduto" placeholder="Procurar" ng-model="buscaProduto">
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th ng-click="orderByMe('CdProduto')">CdProduto &nbsp<i ng-show="orderBycolumn === 'CdProduto'" ng-class="{'glyphicon glyphicon-sort-by-order': !reverse, 'glyphicon glyphicon-sort-by-order-alt': reverse}"></i></th>
                            <th ng-click="orderByMe('NomeProduto')">Produto &nbsp<i ng-show="orderBycolumn === 'NomeProduto'" ng-class="{'glyphicon glyphicon-sort-by-alphabet': !reverse, 'glyphicon glyphicon-sort-by-alphabet-alt': reverse}"></i></th>
                            <th ng-click="orderByMe('Severidade')">Severidade &nbsp<i ng-show="orderBycolumn === 'Severidade'" ng-class="{'glyphicon glyphicon-sort-by-order': !reverse, 'glyphicon glyphicon-sort-by-order-alt': reverse}"></i></th>
                            <th ng-click="orderByMe('AlertaEmAberto')">AlertaEmAberto &nbsp<i ng-show="orderBycolumn === 'AlertaEmAberto'" ng-class="{'glyphicon glyphicon-sort-by-order': !reverse, 'glyphicon glyphicon-sort-by-order-alt': reverse}"></i></th>
                            <th ng-click="orderByMe('DataDoUltimoAlerta')">DataDoUltimoAlerta &nbsp <i ng-show="orderBycolumn === 'DataDoUltimoAlerta'" ng-class="{'glyphicon glyphicon-sort-by-order': !reverse, 'glyphicon glyphicon-sort-by-order-alt': reverse}"></i></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dado in dados | filter:buscaProduto | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:orderBycolumn:reverse">
                            <td>{{dado.CdProduto}}</td>
                            <td>{{dado.NomeProduto}}</td>
                            <td>{{dado.Severidade}}</td>
                            <td>{{dado.AlertaEmAberto}}</td>
                            <td>{{dado.DataDoUltimoAlerta | date:'dd/MM/yyyy'}}</td>
                            <td class="icon-td">
                                <a ng-href="ListaDeAlertas/{{dado.CdProduto}}">
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>    
                <button class="btn btn-sm btn-info" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button> 
                <label id="labelNumberPages">{{currentPage+1}}/{{numberOfPages()}}</label>
                <button class="btn btn-sm btn-info" ng-disabled="currentPage >= dados.length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button>
                @*<ul uib-pagination total-items="dados.length" ng-model="currentPage" max-size="pageSize" class="pagination-sm" boundary-links="true" num-pages="numPages"></ul>*@
            </div>
        </div>
    </div>
</body>
</html>