<html lang="en" ng-app="alertaApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/scripts/angular.js" type="text/javascript" language="javascript"></script>
    @*Iniciação do módulo*@
    <script src="~/scripts/alertaApp.js" type="text/javascript" language="javascript"></script>
    @*Iniciação do Controllers*@
    <script src="~/scripts/Controllers/listaAlertaCtrl.js" type="text/javascript" language="javascript"></script>

    @*Iniciação do Services*@
    <script src="~/scripts/Services/AlertaGeralService.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/Services/ProdutoService.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/Services/EmpresaFilialService.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/Services/AlertaManualService.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/Services/AlertaTipoService.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/Services/ProdutoService.js" type="text/javascript" language="javascript"></script>


    <script src="~/scripts/angular-route.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-animate.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-sanitize.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-cookies.js" type="text/javascript" language="javascript"></script>

    <script src="~/scripts/angular-ui/ui-bootstrap.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.js" type="text/javascript" language="javascript"></script>
    <script src="~/scripts/Directive/select.js" type="text/javascript" language="javascript"></script>

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Alerta/Custom.css" />
    <link rel="stylesheet" href="~/Content/select.css">



    <title>Index</title>

    <script type="text/javascript">

        app.controller("ModalInstanceCtrl", function ($scope, $uibModal, $uibModalInstance, $uibModalStack, $interval, ProdutoService, EmpresaFilialService, AlertaManualService, AlertaTipoService) {

            //$scope.tipoAlerta;

            $scope.showInfoInversao = function () {

                $scope.texto = ["O alerta de inversão, são alertas gerados com dados relacionaos a venda e nota fiscal.",
                "Os alertas buscam produtos que possuem venda e não possuem nota fiscal de entrada; Como também buscam produtos que que possuem nota fiscal de entrada e não possuem venda.",
                "Esses são os parametros para buscar Alerta de Inversão!"];

                $uibModal.open({
                    templateUrl: 'modalInfo.html',
                    controller: 'ModalInstanceInfo',
                    windowClass: 'app-modal-window-Modal-Info',
                    scope: $scope
                });
            }

            $scope.showInfoUltimoCusto = function () {

                $scope.texto = ["O alerta de ultimo custo, são alertas de comparação de custos entre notas fiscais.",
                "Os alertas buscam as duas ultimas notas relacionadas ao produto, se houve uma divergência de custo de 25% positivamente ou negativamente, o produto entra no alerta.",
                "Esses são os parametros para buscar Alerta de Ultimo Custo!"];

                $uibModal.open({
                    templateUrl: 'modalInfo.html',
                    controller: 'ModalInstanceInfo',
                    windowClass: 'app-modal-window-Modal-Info',
                    scope: $scope
                });
            }

            $scope.showInfoQuarentena = function () {

                $scope.texto = ["Quarentena não se quer chega a ser um alerta.",
                "Quarentena funciona para quando um determinado alerta foi corrigido, mas depende de um outro procedimento para que ele não gere mais ou seja acertado de vez; Com isso você coloca o produto na quarentena por tipo de alerta, para que não seja gerado mais duranete um determinado periodo, até que seja corrigido adequadamente."];

                $uibModal.open({
                    templateUrl: 'modalInfo.html',
                    controller: 'ModalInstanceInfo',
                    windowClass: 'app-modal-window-Modal-Info',
                    scope: $scope
                });
            }

            $scope.searchByCodigo = function () {
                $uibModal.open({
                    templateUrl: 'modalLoad.html',
                    controller: 'ModalInstanceteste'
                });

                //    ProdutoService.GetById(parseInt($scope.cdProduto)).then(function (response) {
                //        $scope.cdProduto = response.data.idProduto
                //        $scope.produto = response.data.Descricao
                //    });
            }

            $scope.searchByProduto = function () {
                $uibModal.open({
                    templateUrl: 'modalLoad.html',
                    controller: 'ModalInstanceteste'
                });

                //    ProdutoService.GetByNomeProduto($scope.produto).then(function (response) {
                //        $scope.cdProduto = response.data.idProduto
                //        $scope.produto = response.data.Descricao
                //    });
            }

            $scope.addTipoAlerta = function () {
                $uibModal.open({
                    templateUrl: 'modalAddTipoAlerta.html',
                    controller: 'ModalInstanceNovoAlerta'
                });
            }

            //AlertaTipoService.GetAll().then(function (response) {
            //    $scope.tiposAlerta = response.data;
            //});


            //$scope.gravarAlerta = function () {
            //    $scope.submitted = true;
            //    if ($scope.appCtrl.filiais.length > 0 && $scope.cdProduto != undefined && $scope.produto != undefined && $scope.tipoAlerta != undefined) {
            //        for (var i = 0; i < $scope.appCtrl.filiais.length; i++) {
            //            $scope.obj = { CdProduto: $scope.cdProduto, nomeProduto: $scope.produto, cdPessoaFilial: $scope.appCtrl.filiais[i].cdPessoaFilial, CdTipoAlerta: $scope.tipoAlerta.CdTipoAlerta, tipoAlerta: $scope.tipoAlerta.NomeAlerta, Comentario: $scope.comentario };
            //            AlertaManualService.IncluirAlerta(angular.toJson($scope.obj));
            //        }
            //        $uibModalInstance.close('');
            //        location.reload();
            //    }
            //}
        });

        app.controller("ModalInstanceteste", function ($scope, $uibModal, $uibModalInstance, $uibModalStack, $interval) {
            var value = 0;
            $scope.dynamic = 0;

            $scope.increment = function () {
                if ($scope.dynamic != "100") {
                    value = value + 10;
                }

                if ($scope.dynamic == "100") {
                    value = 100;
                    $uibModalInstance.close();
                }
                $scope.dynamic = value;
            }

            $interval(function () {
                $scope.increment();
            }, 1000);

        });

        app.controller("ModalInstanceNovoAlerta", function ($scope, $uibModal, $uibModalInstance, $uibModalStack, $interval, AlertaTipoService) {
            $scope.gravarTipoAlerta = function () {

                if ($scope.alertaNovo != "" && $scope.alertaNovo != undefined) {
                    $scope.obj = { NomeAlerta: $scope.alertaNovo }
                    AlertaTipoService.IncluirAlerta(angular.toJson($scope.obj));

                    $uibModal.open({
                        templateUrl: 'success.html',
                        controller: 'ModalInstanceNovoAlerta'
                    });
                    $uibModalInstance.close('');
                }
            }
        });

        app.controller("ModalInstanceObsCtrl", function ($scope, $uibModal, $uibModalInstance, $interval, AlertaGeralService) {
            $scope.Gravar = function () {
                $scope.submitted = true;
                if (($scope.observacao != undefined && $scope.observacao != "") && ($scope.cdStatusSelect != "" && $scope.cdStatusSelect != undefined)) {
                    $scope.obj = {
                        CdProduto: $scope.idProduto, CdAlerta: $scope.idAlerta, DescricaoHistorico: $scope.observacao,
                        StatusAlertaAtual: $scope.cdStatusSelect.nomeStatus, cdTipoAlerta: $scope.tipoAlerta, cdPessoaFilial: $scope.idFilial, nomeUsuario: $scope.nomeUsuario
                    };

                    switch ($scope.tipoAlerta) {
                        case 1:
                            //AlertaGeralService.CadastrarHistoricoManual(angular.toJson($scope.obj));
                            break;
                        case 2:
                            AlertaGeralService.CadastrarHistoricoInversao(angular.toJson($scope.obj));
                            break;
                        case 3:
                            AlertaGeralService.CadastrarHistoricoUltimoCusto(angular.toJson($scope.obj));
                    }

                    AlertaGeralService.GetAllInversaoByProduto($scope.idProduto).then(function (response) {
                        $scope.dadosinversao = response.data;
                    });

                    AlertaGeralService.GetAllHistoricosPorProduto($scope.idProduto).then(function (response) {
                        $scope.dadosHistorico = response.data;
                    });

                    AlertaGeralService.GetAllUltCustoByProduto($scope.idProduto).then(function (response) {
                        $scope.dadosUltimoCusto = response.data;
                    });

                    $interval(function () {
                        $uibModalInstance.close();
                    }, 1500);

                }
            };

            $scope.Limpar = function () {
                window.document.getElementById("observacao").value = "";
            }

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            }

        });

        app.controller("ModalInstanceTodosCtrl", function ($scope, $uibModal, $uibModalInstance, $interval, AlertaGeralService) {
            $scope.Gravar = function () {
                $scope.submitted = true;
                if (($scope.observacao != undefined && $scope.observacao != "") && ($scope.cdStatusSelect != "" && $scope.cdStatusSelect != undefined)) {
                    $scope.obj = {
                        CdProduto: $scope.idProduto, DescricaoHistorico: $scope.observacao,
                        StatusAlertaAtual: $scope.cdStatusSelect.nomeStatus, cdTipoAlerta: $scope.tipoAlerta, nomeUsuario: $scope.nomeUsuario
                    };

                    switch ($scope.tipoAlerta) {
                        case 1:
                            //AlertaGeralService.CadastrarHistoricosManual(angular.toJson($scope.obj));
                            break;
                        case 2:
                            AlertaGeralService.CadastrarHistoricosInversao(angular.toJson($scope.obj));
                            break;
                        case 3:
                            AlertaGeralService.CadastrarHistoricosUltimoCusto(angular.toJson($scope.obj));
                    }

                    //AlertaGeralService.
                    //AlertaGeralService.GetGeralPorProduto($scope.idProduto).then(function (response) {
                    //    $scope.produtos = response.data;
                    //});

                    //$scope.dadosinversao = produto.AlertaInversao;
                    //$scope.dadosUltimoCusto = produto.AlertaUltimoCusto;
                    //$scope.dadosHistorico = produto.AlertasHistorico;

                    AlertaGeralService.GetAllInversaoByProduto($scope.idProduto).then(function (response) {
                        $scope.dadosinversao = response.data;
                    });

                    AlertaGeralService.GetAllUltCustoByProduto($scope.idProduto).then(function (response) {
                        $scope.dadosUltimoCusto = response.data;
                    });

                    AlertaGeralService.GetAllHistoricosPorProduto($scope.idProduto).then(function (response) {
                        $scope.dadosHistorico = response.data;
                    });

                    $interval(function () {
                        $uibModalInstance.close();
                    }, 1500);

                }
            };

            $scope.Limpar = function () {
                window.document.getElementById("observacao").value = "";
            }

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            }
        });

        app.controller("ModalQuarentenaCtrl", function ($scope, $uibModalInstance, $interval, AlertaGeralService) {
            $scope.Gravar = function () {
                $scope.submittedQuarentena = true;
                if ($scope.diasQuarentena != "" && $scope.diasQuarentena != undefined) {

                    $scope.obj = {
                        CdProduto: $scope.cdProdutoQuarentena, CdPessoaFilial: $scope.cdPessoaFilialQuarentena, CdTipoAlerta: $scope.cdTipoAlertaQuarentena,
                        CdAlerta: $scope.cdAlertaQuarentena, Dias: $scope.diasQuarentena, Motivo: $scope.motivoQuarentena, NomeUsuario: $scope.nomeUsuario
                    };

                    AlertaGeralService.IncluirNaQuarentena(angular.toJson($scope.obj));

                    AlertaGeralService.GetAllInversaoByProduto($scope.cdProdutoQuarentena).then(function (response) {
                        $scope.dadosinversao = response.data;
                    });

                    AlertaGeralService.GetAllUltCustoByProduto($scope.cdProdutoQuarentena).then(function (response) {
                        $scope.dadosUltimoCusto = response.data;
                    });

                    $interval(function () {
                        $uibModalInstance.close();
                    }, 1800);
                }
            }

            $scope.cancel = function () {
                $uibModalInstance.dismiss();
            }
        });

        app.controller("ModalInstanceInfo", function ($scope, $uibModalInstance) {
            $scope.text = 'teste';
        });

    </script>
</head>

<body ng-controller="appCtrl as appCtrl">
    <div class="container-fluid principal">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><b>Alertas Geral</b><i title="Inclusão de Alerta Manual" ng-click="addManual();" class="glyphicon glyphicon-plus-sign pull-right" style="cursor:pointer"></i></h3>
            </div>
            <div class="panel-body">
                <div class="form-inline">
                    <div style="margin-bottom: 12px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input type="text" class="form-control" name="buscaProduto" id="buscaProduto" ng-model="teste" placeholder="Codigo ou Produto">
                    </div>

                    <div class="input-group select-tipoAlerta" style="margin-bottom: 12px">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
                        <select class="form-control" style="width:200px;" ng-model="selectTipoAlerta">
                            <option value="">Selecione Tipo de Alerta</option>
                            <option value="2">Inversão</option>
                            <option value="3">Ultimo Custo</option>
                        </select>
                    </div>

                    <div class="input-group select-tipoAlerta" style="margin-bottom: 12px">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                        <select class="form-control" style="width:200px;" ng-model="cdStatus" ng-options="status.cdAlertaStatus as status.nomeStatus for status in AllStatus">
                            <option value="">Selecione a Situação</option>
                        </select>
                    </div>

                    <div style="margin-bottom: 12px" class="input-group">
                        <input type="button" class="btn btn-primary" value="Procurar" ng-click="buscaProduto();" style="margin-left: 10px;" />
                    </div>
                </div>

                <table class="table table-bordered" ng-show="filteredProdutos.length > 0">
                    <thead>
                        <tr>
                            <th ng-click="orderByMe('CdProduto')">Codigo &nbsp<i ng-show="orderBycolumn === 'CdProduto'" ng-class="{'glyphicon glyphicon-sort-by-order': !reverse, 'glyphicon glyphicon-sort-by-order-alt': reverse}"></i></th>
                            <th ng-click="orderByMe('NomeProduto')">Produto &nbsp<i ng-show="orderBycolumn === 'NomeProduto'" ng-class="{'glyphicon glyphicon-sort-by-alphabet': !reverse, 'glyphicon glyphicon-sort-by-alphabet-alt': reverse}"></i></th>
                            <th ng-click="orderByMe('Severidade')">Severidade &nbsp<i ng-show="orderBycolumn === 'Severidade'" ng-class="{'glyphicon glyphicon-sort-by-order': !reverse, 'glyphicon glyphicon-sort-by-order-alt': reverse}"></i></th>
                            <th ng-click="orderByMe('AlertaEmAberto')">Alertas Abertos &nbsp<i ng-show="orderBycolumn === 'AlertaEmAberto'" ng-class="{'glyphicon glyphicon-sort-by-order': !reverse, 'glyphicon glyphicon-sort-by-order-alt': reverse}"></i></th>
                            <th ng-click="orderByMe('DataDoUltimoAlerta')">Data de Geração &nbsp <i ng-show="orderBycolumn === 'DataDoUltimoAlerta'" ng-class="{'glyphicon glyphicon-sort-by-order': !reverse, 'glyphicon glyphicon-sort-by-order-alt': reverse}"></i></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="produto in filteredProdutos | orderBy:orderBycolumn:reverse" ng-class="{{produto.AlertasQuarentena.length}} == 0 ? '' : 'Danger'">
                            <td>{{produto.CdProduto}}</td>
                            <td>{{produto.NomeProduto}}</td>
                            <td>{{produto.Severidade}}</td>
                            <td>{{produto.AlertaEmAberto}}</td>
                            <td>{{produto.DataUltimoAlerta | date:'dd/MM/yyyy'}}</td>
                            <td align="center">
                                <span class="label label-primary">{{produto.Pendente}}</span>
                                <span class="label label-info" uib-tooltip="{{produto.Vinculado}}" tooltip-placement="top" tooltip-trigger="'mouseenter'">{{produto.Analise}}</span>
                                <span class="label label-success">{{produto.Concluido}}</span>
                            </td>
                            <td class="icon-td">
                                <a ng-click="ShowModalProduto(produto);">
                                    <span class="glyphicon glyphicon-list-alt" style="cursor: pointer;"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="produtos.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" boundary-link-numbers="true" rotate="false" ng-show="produtos.length > 0"></ul>
                <div class="chat_list" ng-show="filteredProdutos.length == 0">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div style="text-align:center;">
                                Nenhum registro encontrado!
                            </div>
                        </li>
                    </ul>
                </div>

                <script type="text/ng-template" id="modalTeste.html">
                    <uib-tabset class="tabs">
                        <uib-tab>
                            <uib-tab-heading>
                                Inversão ({{dadosinversao.length}}) &nbsp<i class="glyphicon glyphicon-question-sign" style="top:3px;" ng-click="showInfoInversao();"></i>
                            </uib-tab-heading>>
                            <div class="container">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>CdProduto</th>
                                            <th>Produto</th>
                                            <th>Loja</th>
                                            <th>Qtd.Estoque</th>
                                            <th>Data de Criação</th>
                                            <th style="text-align:center;">Status</th>
                                            <th style="text-align:center;">
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="showModalTodos(2);" title="Cadastrar Todos">
                                                    <span class="glyphicon glyphicon-asterisk"></span>
                                                </button>
                                                <button type="button" class="btn btn-danger btn-xs" ng-click="ShowModalQuarentenaTodos(dadosinversao[0].CdProduto, dadosinversao[0].AlertaTipo.CdTipoAlerta);">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dadoinversao in dadosinversao | orderBy:orderBycolumn:reverse">
                                            @*ng-class="dado.AlertasQuarentena.length > 0 ? 'danger' : ''"*@

                                            @*<td style="text-align:center;"><input type="checkbox" ng-model="dado.checked" ng-checked="selectAll"></td>*@
                                            <td>{{dadoinversao.CdProduto}}</td>
                                            <td>{{nomeProduto}}</td>
                                            <td>{{dadoinversao.Pessoa.NomePessoa}}</td>
                                            <td>{{dadoinversao.QtdEstoque}}</td>
                                            <td>{{dadoinversao.UltData | date:'dd/MM/yyyy'}}</td>
                                            @*<td><label class="label label-warning">Pendente</label></td>*@
                                            <td align="center"><label ng-class="['label {{dadoinversao.AlertaStatus.nomeStatus}}']">{{dadoinversao.AlertaStatus.nomeStatus}} </label></td>
                                            <td class="icon-td" align="center" style="width:100px;">
                                                <button type="button" class="btn btn-xs btn-info" ng-click="showModal(dadoinversao.CdProduto, dadoinversao.CdAlertaInv, dadoinversao.Pessoa.CdPessoa, 2);" title="Cadastrar Observação">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                                <button type="button" class="btn btn-xs btn-warning" ng-click="ShowModalQuarentena(dadoinversao.CdProduto, dadoinversao.Pessoa.CdPessoa, dadoinversao.AlertaTipo.CdTipoAlerta, dadoinversao.CdAlertaInv);">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="chat_list" ng-show="dadosHistorico.length > 0">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="dadoHistorico in dadosHistorico | limitTo: paginationLimit()">
                                            <div class="row">
                                                <div class="col-lg-1">
                                                    <span ng-class="dadoHistorico.StatusAlertaAtual == 'Concluido' ?
                                              'glyphicon glyphicon-ok-sign' :
                                              ((dadoHistorico.StatusAlertaAtual == 'Em Balanço' || dadoHistorico.StatusAlertaAtual == 'Quarentena') ?
                                              'glyphicon glyphicon-remove-sign' :
                                              'glyphicon glyphicon-question-sign')"></span>
                                                </div>

                                                <div class="col-lg-11">
                                                    <small class="pull-right text-muted">{{dadoHistorico.DataDoHistorico | date:'dd/MM/yyyy'}} as {{dadoHistorico.DataDoHistorico | date:'HH:mm'}}</small>
                                                    <small class="list-group-item-heading text-muted text-primary">{{dadoHistorico.NomeUsuario}}</small>
                                                    <div><strong>Loja: </strong> {{dadoHistorico.Pessoa.NomePessoa}}</div>
                                                    <div><strong>Tipo de Aleta: </strong> {{dadoHistorico.AlertaTipo.NomeAlerta}}</div>
                                                    <div><strong>Alterado de: </strong> {{dadoHistorico.StatusAlertaAnterior}} <strong>para:</strong> {{dadoHistorico.StatusAlertaAtual}} </div>
                                                    <div><strong>Descrição: </strong>{{dadoHistorico.DescricaoHistorico}}</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    @*class="btn btn-circle-sm btn-primary"><span class="glyphicon glyphicon-thumbs-up">*@
                                    <button class="btn btn-circle-micro btn-primary glyphicon glyphicon-plus" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()"></button>
                                </div>

                                <div class="chat_list" ng-show="dadosHistorico.length == 0">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div style="text-align:center;">
                                                Esse produto não possui histórico!
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Ultimo Custo ({{dadosUltimoCusto.length}})">
                            <uib-tab-heading>
                                Ultimo Custo ({{dadosUltimoCusto.length}}) &nbsp<i class="glyphicon glyphicon-question-sign" style="top:3px;" ng-click="showInfoUltimoCusto();"></i>
                            </uib-tab-heading>>
                            <div class="container">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>CdProduto</th>
                                            <th>Produto</th>
                                            <th>Loja</th>
                                            <th>Nota</th>
                                            <th>Ultimo Custo</th>
                                            <th>Penultimo Custo</th>
                                            <th>Diferença</th>
                                            <th>Data de Criação</th>
                                            <th style="text-align:center;">Status</th>
                                            <th style="text-align:center;">
                                                <button type="button" class="btn btn-xs btn-danger" ng-click="showModalTodos(3);" title="Cadastrar Todos">
                                                    <span class="glyphicon glyphicon-asterisk"></span>
                                                </button>

                                                <button type="button" class="btn btn-danger btn-xs" ng-click="ShowModalQuarentenaTodos(dadosUltimoCusto[0].CdProduto, dadosUltimoCusto[0].AlertaTipo.CdTipoAlerta);">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="dadoUltimoCusto in dadosUltimoCusto">
                                            @*<td style="text-align:center;"><input type="checkbox" ng-model="dado.checked" ng-checked="selectAll"></td>*@
                                            <td>{{dadoUltimoCusto.CdProduto}}</td>
                                            <td>{{nomeProduto}}</td>
                                            <td>{{dadoUltimoCusto.Pessoa.NomePessoa}}</td>
                                            <td>{{dadoUltimoCusto.Nota}}</td>
                                            <td>{{dadoUltimoCusto.UltimoCusto | currency:"R$"}}</td>
                                            <td>{{dadoUltimoCusto.PenultimoCusto | currency:"R$"}}</td>
                                            <td>{{dadoUltimoCusto.Diferenca}}%</td>
                                            <td>{{dadoUltimoCusto.UltData | date:'dd/MM/yyyy'}}</td>
                                            @*<td><label class="label label-warning">Pendente</label></td>*@
                                            <td align="center"><label ng-class="['label {{dadoUltimoCusto.AlertaStatus.nomeStatus}}']">{{dadoUltimoCusto.AlertaStatus.nomeStatus}} </label></td>
                                            <td class="icon-td" align="center">
                                                <button type="button" class="btn btn-xs btn-info" ng-click="showModal(dadoUltimoCusto.CdProduto, dadoUltimoCusto.CdAlertaUltCusto, dadoUltimoCusto.Pessoa.CdPessoa, 3);" title="Cadastrar Observação">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>

                                                <button type="button" class="btn btn-xs btn-warning" ng-click="ShowModalQuarentena(dadoUltimoCusto.CdProduto, dadoUltimoCusto.Pessoa.CdPessoa, dadoUltimoCusto.AlertaTipo.CdTipoAlerta, dadoUltimoCusto.CdAlertaInv);">
                                                    <span class="glyphicon glyphicon-lock"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="chat_list" ng-show="dadosHistorico.length > 0">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="dadoHistorico in dadosHistorico | limitTo: paginationLimit()">
                                            <div class="row">
                                                <div class="col-lg-1">
                                                    <span ng-class="dadoHistorico.StatusAlertaAtual == 'Concluido' ?
                                              'glyphicon glyphicon-ok-sign' :
                                              ((dadoHistorico.StatusAlertaAtual == 'Em Balanço' || dadoHistorico.StatusAlertaAtual == 'Quarentena') ?
                                              'glyphicon glyphicon-remove-sign' :
                                              'glyphicon glyphicon-question-sign')"></span>
                                                </div>

                                                <div class="col-lg-11">
                                                    <small class="pull-right text-muted">{{dadoHistorico.DataDoHistorico | date:'dd/MM/yyyy'}} as {{dadoHistorico.DataDoHistorico | date:'HH:mm'}}</small>
                                                    <small class="list-group-item-heading text-muted text-primary">{{dadoHistorico.NomeUsuario}}</small>
                                                    <div><strong>Loja: </strong> {{dadoHistorico.Pessoa.NomePessoa}}</div>
                                                    <div><strong>Tipo de Aleta: </strong> {{dadoHistorico.AlertaTipo.NomeAlerta}}</div>
                                                    <div><strong>Alterado de: </strong> {{dadoHistorico.StatusAlertaAnterior}} <strong>para:</strong> {{dadoHistorico.StatusAlertaAtual}} </div>
                                                    <div><strong>Descrição: </strong>{{dadoHistorico.DescricaoHistorico}}</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    @*class="btn btn-circle-sm btn-primary"><span class="glyphicon glyphicon-thumbs-up">*@
                                    <button class="btn btn-primary glyphicon glyphicon-plus" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()"></button>
                                </div>
                                <div class="chat_list" ng-show="dadosHistorico.length == 0">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <div style="text-align:center;">
                                                Esse produto não possui histórico!
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                Quarentena ({{dadosQuarentena.length}}) &nbsp<i class="glyphicon glyphicon-question-sign" style="top:3px;" ng-click="showInfoQuarentena();"></i>
                            </uib-tab-heading>> 
                        <div class="container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>CdProduto</th>
                                        <th>Produto</th>
                                        <th>Loja</th>
                                        <th>Alerta</th>
                                        <th>Data de Inclusão</th>
                                        <th>Data de Saída</th>
                                        <th>Dias</th>
                                        <th>Motivo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="dadoQuarentena in dadosQuarentena">
                                        <td>{{dadoQuarentena.CdProduto}}</td>
                                        <td>{{nomeProduto}}</td>
                                        <td>{{dadoQuarentena.Pessoa.NomePessoa}}</td>
                                        <td>{{dadoQuarentena.AlertaTipo.NomeAlerta}}</td>
                                        <td>{{dadoQuarentena.DtInclusao | date:'dd/MM/yyyy'}}</td>
                                        <td>{{dadoQuarentena.DtSaida | date:'dd/MM/yyyy'}}</td>
                                        <td>{{dadoQuarentena.Dias}}</td>
                                        <td>{{dadoQuarentena.Motivo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="chat_list" ng-show="dadosHistorico.length > 0">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="dadoHistorico in dadosHistorico | limitTo: paginationLimit()">
                                        <div class="row">
                                            <div class="col-lg-1">
                                                <span ng-class="dadoHistorico.StatusAlertaAtual == 'Concluido' ?
                                              'glyphicon glyphicon-ok-sign' :
                                              ((dadoHistorico.StatusAlertaAtual == 'Em Balanço' || dadoHistorico.StatusAlertaAtual == 'Quarentena') ?
                                              'glyphicon glyphicon-remove-sign' :
                                              'glyphicon glyphicon-question-sign')"></span>
                                            </div>

                                            <div class="col-lg-11">
                                                <small class="pull-right text-muted">{{dadoHistorico.DataDoHistorico | date:'dd/MM/yyyy'}} as {{dadoHistorico.DataDoHistorico | date:'HH:mm'}}</small>
                                                <small class="list-group-item-heading text-muted text-primary">{{dadoHistorico.NomeUsuario}}</small>
                                                <div><strong>Loja: </strong> {{dadoHistorico.Pessoa.NomePessoa}}</div>
                                                <div><strong>Tipo de Aleta: </strong> {{dadoHistorico.AlertaTipo.NomeAlerta}}</div>
                                                <div><strong>Alterado de: </strong> {{dadoHistorico.StatusAlertaAnterior}} <strong>para:</strong> {{dadoHistorico.StatusAlertaAtual}} </div>
                                                <div><strong>Descrição: </strong>{{dadoHistorico.DescricaoHistorico}}</div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                @*class="btn btn-circle-sm btn-primary"><span class="glyphicon glyphicon-thumbs-up">*@
                                <button class="btn btn-primary glyphicon glyphicon-plus" ng-show="hasMoreItemsToShow()" ng-click="showMoreItems()"></button>
                            </div>
                            <div class="chat_list" ng-show="dadosHistorico.length == 0">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div style="text-align:center;">
                                            Esse produto não possui histórico!
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </uib-tab>
                        @*<uib-tab heading="Long Justified">Long Labeled Justified content</uib-tab>
                            <uib-tab heading="Justified">Justified content</uib-tab>
                            <uib-tab heading="SJ">Short Labeled Justified content</uib-tab>
                            <uib-tab heading="Long Justified">Long Labeled Justified content</uib-tab>*@
                    </uib-tabset>
                </script>

                @*Inicio Modal Observação*@
                <script type="text/ng-template" id="myModal.html">
                    <div class="modal-header Observacao">
                        <h5 class="modal-title">Cadastro de Histórico</h5>
                        <button class="close" ng-click="cancel();">
                            <span>&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form name="obsForm" id="obsForm">
                            <div>
                                <label class="form-control-label" style="color:red;">*<label style="color: #337ab7;">Observação:</label></label>
                                <textarea class="form-control" name="observacao" id="observacao" style="height: 134px;" ng-model="observacao" required></textarea>
                            </div>

                            <div style="margin-top: 30px;">
                                <label class="form-control-label" style="color:red;">*<label style="color: #337ab7;">Status:</label></label>
                                <select class="form-control" style="width:200px;" ng-model="cdStatusSelect" ng-required="true" name="cdStatusSelect" id="cdStatusSelect" ng-options="status as status.nomeStatus for status in statusSelect"></select>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <input type="button" id="limpar" class="btn btn-info" value="Limpar" ng-click="Limpar();">
                        <input type="button" id="Gravar" class="btn btn-primary" value="Gravar" ng-click="Gravar();">
                    </div>

                    <div class="alert alert-danger" ng-show="obsForm.observacao.$invalid && submitted">
                        <span class="glyphicon glyphicon-thumbs-down"></span> <strong>Danger Message</strong>
                        <hr class="message-inner-separator">
                        <p>
                            Preencha o campo <strong>Observação</strong> corretamente!
                        </p>
                    </div>

                    <div class="alert alert-danger" ng-show='obsForm.cdStatusSelect.$invalid && submitted'>
                        <span class="glyphicon glyphicon-thumbs-down"></span> <strong>Danger Message</strong>
                        <hr class="message-inner-separator">
                        <p>
                            Preencha o campo <strong>Status</strong> corretamente!
                        </p>
                    </div>

                    <div class="alert alert-success" ng-show='(obsForm.cdStatusSelect.$valid && obsForm.observacao.$valid) && submitted'>
                        <span class="glyphicon glyphicon-thumbs-up"></span> <strong>Sucesso</strong>
                        <hr class="message-inner-separator">
                        <p>
                            <strong>Observação</strong> gravada com sucesso!
                        </p>
                    </div>

                </script>
                @*Fim Modal Observação*@

                @*Inicio Modal Alerta Manual*@

                <script type="text/ng-template" id="modalAddAlertaManual.html">
                    <div class="modal-content">
                        <div class="panel panel-primary" style="margin-bottom:0px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Cadastro Alerta Manual</h3>
                            </div>
                            <form class="form-horizontal" name="addForm" style="margin-top: 15px; margin-bottom: 15px;">

                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-offset-1 input-group">Codigo</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-1 input-group">
                                        <span class="input-group-addon alert-info glyphicon glyphicon-search" ng-click="searchByCodigo();"></span>
                                        <input type="text" class="form-control" ng-model="cdProduto" name="cdProduto" id="cdProduto" placeholder="Codigo" ng-required="true" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-offset-1 input-group">Produto</label>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-1 input-group">
                                        <span class="input-group-addon alert-info glyphicon glyphicon-search" ng-click="searchByProduto();"></span>
                                        <input type="text" class="form-control" ng-model="produto" name="produto" id="produto" placeholder="Nome do Produto" ng-required="true" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-offset-1 input-group">Filial</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col col-sm-offset-1 input-group">
                                        <ui-select multiple sortable="true" title="Escolha as filiais..." ng-model="appCtrl.filiais" name="filiais" id="filiais">
                                            <ui-select-match placeholder="Escolha as filiais....">{{$item.nmFilial}}</ui-select-match>
                                            <ui-select-choices repeat="filiais in filiaisDiponiveis">
                                                {{filiais.nmFilial}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 col-sm-offset-1 input-group">Tipo de Erro</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col col-sm-offset-1 input-group">
                                        <span class="input-group-addon alert-info glyphicon glyphicon-plus" ng-click="addTipoAlerta();"></span>
                                        <select class="form-control" name="tipoAlerta" id="tipoAlerta" placeholder="Tipo de Alerta" ng-required="true" ng-model="tipoAlerta" ng-options="item.NomeAlerta for item in tiposAlerta" ng-change="change(tipoAlerta)"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-offset-1 input-group">Comentário</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset-1 input-group">
                                        <textarea class="form-control" name="comentario" id="comentario" style="height: 134px;" ng-model="comentario"></textarea>
                                    </div>
                                </div>
                                <button class="btn btn-primary" style="margin-left:82%" ng-click="gravarAlerta()">Gravar</button>
                            </form>

                            <div class="alert alert-danger" ng-show="addForm.cdProduto.$error.required && submitted">
                                <span class="glyphicon glyphicon-thumbs-down"></span> <strong>Danger Message</strong>
                                <hr class="message-inner-separator">
                                <p>
                                    Preencha o campo <strong>Codigo</strong> corretamente!
                                </p>
                            </div>

                            <div class="alert alert-danger" ng-show="addForm.produto.$error.required && submitted">
                                <span class="glyphicon glyphicon-thumbs-down"></span> <strong>Danger Message</strong>
                                <hr class="message-inner-separator">
                                <p>
                                    Preencha o campo <strong>Produto</strong> corretamente!
                                </p>
                            </div>

                            <div class="alert alert-danger" ng-show="addForm.tipoAlerta.$error.required && submitted">
                                <span class="glyphicon glyphicon-thumbs-down"></span> <strong>Danger Message</strong>
                                <hr class="message-inner-separator">
                                <p>
                                    Preencha o campo <strong>Tipo de Alerta</strong> corretamente!
                                </p>
                            </div>

                            <div class="alert alert-danger" ng-show="appCtrl.filiais == 0 && submitted">
                                <span class="glyphicon glyphicon-thumbs-down"></span> <strong>Danger Message</strong>
                                <hr class="message-inner-separator">
                                <p>
                                    Preencha o campo <strong>Filial</strong> corretamente!
                                </p>
                            </div>
                        </div>
                    </div>
                </script>

                <script type="text/ng-template" id="modalQuarentena.html">
                    <div class="modal-header">
                        <h5 class="modal-title">Inclusão Quarentena</h5>
                        <button class="close" ng-click="cancel();">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="quarentenaForm" style="margin-top: 15px; margin-bottom: 15px;">
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <label class="form-control-label" style="color:red;">*</label><label>Nº Dias na Quarentena</label>
                                    <Select class="form-control" ng-model="diasQuarentena" ng-required="true" name="diasQuarentena" id="diasQuarentena">
                                        <option value="7">7 Dias</option>
                                        <option value="15">15 Dias</option>
                                        <option value="30">30 Dias</option>
                                    </Select>
                                </div>
                                <div class="col-sm-10 col-sm-offset-1" style="margin-top:25px;">
                                    <label>Motivo:</label>
                                    <textarea class="form-control" style="height: 134px;" ng-model="motivoQuarentena"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="Gravar" class="btn btn-primary" value="Gravar" ng-click="Gravar();">
                    </div>
                    <div class="alert alert-danger" ng-show='quarentenaForm.diasQuarentena.$invalid && submittedQuarentena'>
                        <span class="glyphicon glyphicon-thumbs-down"></span> <strong>Danger Message</strong>
                        <hr class="message-inner-separator">
                        <p>
                            Preencha a quantidade de <strong>Dias</strong> corretamente!
                        </p>
                    </div>

                    <div class="alert alert-success" ng-show='quarentenaForm.diasQuarentena.$valid && submittedQuarentena'>
                        <span class="glyphicon glyphicon-thumbs-up"></span> <strong>Sucesso</strong>
                        <hr class="message-inner-separator">
                        <p>
                            <strong>Incluido</strong> na <strong>Quarentena</strong> com sucesso!
                        </p>
                    </div>
                </script>

                <script type="text/ng-template" id="modalLoad.html">
                    <div class="modal-body">
                        <uib-progressbar class="progress-striped active" max="100" value="dynamic">%{{dynamic}} <i ng-sh<i ng-show="showWarning">!!! Watch out !!!</i></uib-progressbar>
                    </div>
                </script>

                <script type="text/ng-template" id="modalAddTipoAlerta.html">
                    <div class="modal-content">
                        <div class="panel panel-primary" style="margin-bottom:0px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Cadastro Tipo de Alerta</h3>
                            </div>
                            <form class="form-horizontal" id="addTipoAlertaForm" name="addTipoAlertaForm" style="margin-top: 15px; margin-bottom: 15px;">
                                <div class="form-group col-sm-12" style="margin-left:auto;">
                                    <input type="text" class="form-control col-sm-9" ng-model="alertaNovo" name="alertaNovo" id="alertaNovo" placeholder="Novo tipo de Erro" ng-required="true" />
                                </div>
                                <button class="btn btn-primary" style="margin-left:14px;" ng-click="gravarTipoAlerta();">Gravar</button>
                            </form>
                        </div>
                    </div>
                </script>

                <script type="text/ng-template" id="success.html">
                    <div class="alert alert-success" style="margin-bottom:0px;">
                        Tipo de erro cadastrado com <strong>sucesso!</strong>
                    </div>
                </script>

                <script type="text/ng-template" id="modalInfo.html">
                    <div class="modal-header Observacao">
                        <h5 class="modal-title">Sobre Alerta!</h5>
                        <button class="close" ng-click="cancel();">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <b>{{texto[0]}}</b>
                        </div>
                        <div style="margin-top: 15px;">
                            <p>{{texto[1]}}</p>
                        </div>
                        <div style="margin-top: 15px;">
                            <p>{{texto[2]}}</p>
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>
</body>
</html>