<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Inclusao/Alteracao de Motivo</h4>
        <small class="font-bold">Tela exclusivamente para alteracao e inclusão de motivo.</small>
    </div>
    <form role="form" name="cadMotivoForm">
        <div class="modal-body">
            <div class="form-group">
                <label>Motivo</label>
                <input type="text" placeholder="Motivo" name="motivo" ng-model="motivo" class="form-control" required>
                <div class="m-t-xs" ng-show="cadMotivoForm.motivo.$invalid && signup_form.submitted">
                    <small class="text-danger" ng-show="cadMotivoForm.motivo.$error.required">Preencha o nome da descricao!</small>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Fechar</button>
            <button type="submit" class="btn btn-primary" ng-show="tipo == 'Alteracao'" ng-click="editar()">Salvar</button>
            <button type="submit" class="btn btn-primary" ng-show="tipo == 'Inclusao'" ng-click="incluir()">Salvar</button>
        </div>
    </form>
</div>
