<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Chamados de Suporte</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="principal.instutucional">Home</a>
            </li>
            <li>
                <a>Suporte</a>
            </li>
            <li class="active">
                <strong>Chamado de Suporte</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="chamSuporteAssuntoCtrl">
    <div class="ibox float-e-margins">
        <button class="btn btn-sm btn-outline btn-success btn-rounded" type="button" ng-click="incluir()"><i class="fa fa-plus"></i> Incluir</button>
        <div class="ibox-title">
            <h5>Lista de chamados - <strong>Solicitacoes de Chamados de Suporte</strong></h5>
            <div ibox-tools></div>
        </div>
        <div class="ibox-content">
            <div class="table-responsive">
                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Assunto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="assunto in assuntos">
                            <td>{{assunto.Id}}</td>
                            <td>{{assunto.Descricao}}</td>
                            <td><button class="btn btn-sm btn-outline btn-rounded btn-primary" ng-click="alterar(assunto);">Alterar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
