/* Basic Styles */

body {
    color: #73879C;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
}

.table {
    font-size: 13px;
}

th {
    white-space: nowrap;
}

/* End Basic Styles */

/* Custom Styles */
    
/* Alerta Geral */

.principal {
    margin-top: 10px;
}

.icon-td {
    width: 37px;
}

.Concluido {
    background-color: #82af6f !important;
}

.Novo {
    background-color: #337ab7 !important;
}

.Analise {
    background-color: #5bc0de !important;
}

#buscaProduto {
    width: 200px;
}

#labelNumberPages {
    font-weight: normal;
    color: #5bc0de;
}

.select-tipoAlerta .select-tipoAlerta {
    margin-left: 10px;
}

/*Fim Alerta Geral*/

#observacao {
    height: 134px;
}

/* Histórico */

.tabs li.active a.ng-binding {
    color: #fff;
    background-color: #136352;
    text-decoration: none;
}

.tabs li a.ng-binding:hover {
    color: #fff;
    background-color: #136352;
    text-decoration: none;
}

.tabs li a.ng-binding {
    background: #20A286;
    color: #fff;
    text-decoration: none;
}

/* Modal de alertas por Produto*/

.app-modal-window .modal-dialog {
    width: 1200px;
}

/* Fim do Modal*/

/* Modal de Cadastrado de Histórico */

.app-modal-window-Modal-Observacao .modal-header {
    background-color: #337ab7;
    padding: 10px;
}

.modal-header .close {
    margin-top: 0px;
    color: white;
}

.app-modal-window-Modal-Observacao .modal-title {
    color: white;
    float: left;
}

.app-modal-window-Modal-Observacao .modal-body {
    background-color: whitesmoke;
}

.app-modal-window-Modal-Observacao .modal-footer {
    background-color: whitesmoke;
}

 /* Fim Modal */

/* Modal Quarentena */

.app-modal-window-Modal-Quarentena .modal-header {
    background-color: #a94442;
    padding: 10px;
}

.app-modal-window-Modal-Quarentena .modal-title {
    color: white;
    float: left;
}

.app-modal-window-Modal-Quarentena .modal-body {
    background-color: whitesmoke;
}

.app-modal-window-Modal-Quarentena .modal-footer {
    background-color: whitesmoke;
}

/* Fim Modal */

.app-modal-window-Modal-Info .modal-header {
    background-color: #5bc0de;
    padding: 10px;
}

.modal-header .close {
    margin-top: 0px;
    color: white;
}

.app-modal-window-Modal-Info .modal-title {
    color: white;
    float: left;
}

.app-modal-window-Modal-Info .modal-body {
    background-color: whitesmoke;
}

.red {
    color: indianred;
}

/* Histórico */

.chat_list {
    padding-top: 20px;
}

    .chat_list .list-group-item {
        padding: 5px 4px;
        min-height: 34px;
        font-size: 13px;
    }

    .chat_list .list-group-item-text {
        word-wrap: break-word;
        display: flex;
        overflow: auto;
    }

    .chat_list .pull-left {
        width: 55px;
        text-align: center;
    }

span.glyphicon-ok-sign {
    font-size: 2.0em;
    color: #82af6f !important;
}

span.glyphicon-remove-sign {
    font-size: 2.0em;
    color: #a94442 !important;
}

span.glyphicon-question-sign {
    font-size: 2.0em;
    color: #5bc0de !important;
}

.btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
}

.btn-circle-micro {
    width: 19px;
    height: 19px;
    text-align: center;
    padding: 1px 0;
    font-size: 13px;
    line-height: 0.1;
    border-radius: 30px;
}

/* Fim Histórico */

/* End Custom Styles */
